In [1]:
import pandas as pd
import os
import sqlalchemy
import pyodbc
from datetime import datetime, timedelta
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn import tree
import sklearn
from imblearn.over_sampling import SMOTE, SMOTENC
from forex_python.converter import CurrencyRates
from time import sleep
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
import time

In [2]:
# libraries = ['pd', 'sqlalchemy', 'pyodbc', 'np', 'sklearn', 'imblearn']
# def get_version(lib):
#     lib = eval(lib)
#     try:
#         return lib.__version__
#     except AttributeError:
#         return "not found"
    
# for lib in libraries:
#     version = get_version(lib)
#     print(f"{lib}=={version}")

# –û–±—ä–µ–¥–∏–Ω—è–µ–º –≤—Å–µ Excel —Ñ–∞–π–ª—ã –≤ 1 –¥–∞—Ç–∞—Å–µ—Ç

In [3]:
# –ò–º–µ–Ω–∞ –ø–∞–ø–æ–∫
folders = ["2020.12","2021.01","2021.02","2021.03","2021.04","2021.05",
           "2021.06","2021.07","2021.08","2021.09","2021.10","2021.11","2021.12","2022.01"]

In [9]:
# –ü—É—Å—Ç–æ–π —Å–ø–∏—Å–æ–∫ –ø—É—Ç–µ–π + –¥–∞—Ç—ã
file_paths = []
# –î–ª—è –∫–∞–∂–¥–æ–π –ø–∞–ø–∫–∏ –∏–∑ —Å–ø–∏—Å–∫–∞ –ø–∞–ø–æ–∫
for folder in folders:
    # –õ–µ–ø–∏–º –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É
    folder_path = os.path.join(r"C:\Users\MikheevMN\–≠—à–µ–ª–æ–Ω—ã", folder)
    # folder_path = os.path.join(r"C:\Users\mikhe\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\echelons\–≠—à–µ–ª–æ–Ω—ã", folder)
    # –î–æ—Å—Ç–∞–µ–º –∫–∞–∫–∏–µ —Ñ–∞–π–ª—ã –≤ –ø–∞–ø–∫–µ
    files = os.listdir(folder_path)
    # –î–ª—è —Ñ–∞–π–ª–∞ –∏–∑ –ø–∞–ø–∫–∏
    for file in files:
        # –ï—Å–ª–∏ —Ñ–∞–π–ª –Ω–µ –≤—Ä–µ–º–µ–Ω–Ω—ã–π —Ç–æ –¥–æ–±–∞–≤–ª—è–µ–º –ø—É—Ç—å –≤ —Å–ø–∏—Å–æ–∫ –ø—É—Ç–µ–π —Å –¥–∞—Ç–æ–π –≤ –∫–æ–Ω—Ü–µ
        if not file.startswith('~$'):
            file_paths.append((os.path.join(folder_path, file), folder))
            
for file in file_paths:
    print(file)

('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2020.12\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 12 2020 + –æ–±_—ç—à–µ–ª–æ–Ω.xlsx', '2020.12')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.01\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 01 21.xlsm', '2021.01')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.02\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 02 21 –∫–æ–ø–∏—è.xlsm', '2021.02')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.03\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 03 21 –∫.xlsm', '2021.03')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.04\\–ö–æ–ø–∏—è –ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 04 21-2.xlsm', '2021.04')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.05\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 05 21.xlsm', '2021.05')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.06\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 06 21.xlsm', '2021.06')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.07\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 07 21.xlsm', '2021.07')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.08\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 08 21.xlsm', '2021.08')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.09\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 09 21.xlsm', '2021.09')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.10\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 10 21.xlsm', '2021.10')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.11\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 11 21.xlsm', '2021.11')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2021.12\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 12 21.xlsm', '2021.12')
('C:\\Users\\mikhe\\–∫–æ–¥ —ç—à–µ–ª–æ–Ω—ã\\echelons\\–≠—à–µ–ª–æ–Ω—ã\\2022.01\\–ü–æ—Ä—Ç—Ñ–µ–ª—å —Ü–± 01 22.xlsm', '2022.01')

In [10]:
# –ü—É—Å—Ç–æ–π –¥–∞—Ç–∞—Å–µ—Ç –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è
combined_data = pd.DataFrame()

In [12]:
column_names = ["Index", "Description", "Duration", "Amount", "Currency", "TRPS", "Rating", "Echelon"]
# –î–ª—è –ø—É—Ç–∏ –∏ –¥–∞—Ç—ã –≤ —Å–ø–∏—Å–∫–µ
for file_path, folder in file_paths:
    excel_data = pd.read_excel(file_path, sheet_name="–≠—à–µ–ª–æ–Ω—ã —Ä–µ–∑—É–ª—å—Ç–∞—Ç", usecols="A:H", header=None)
    excel_data.columns = column_names
    excel_data["Date"] = folder
    combined_data = combined_data.append(excel_data, ignore_index=True)
    # combined_data = pd.concat([combined_data, excel_data], ignore_index=True) 
combined_data

,Index,Description,Duration,Amount,Currency,TRPS,Rating,Echelon,Date
0,ISIN,Description,–î—é—Ä–∞—Ü–∏—è,Amount Outstanding,Currency,TRPS Score,–†–µ–π—Ç–∏–Ω–≥ –ë—É–∫–≤–∞,Eshelon,2020.12
1,XS2134628069,MMCFN 2.550 09/11/25 '25,4.223,500000000,USD,10,BBB-,1,2020.12
2,XS1449458915,GOTRL 5.950 07/19/21,0.558,350000000,USD,10,BB,2,2020.12
3,XS1319822752,EVRE 8.250 01/28/21,0.097,750000000,USD,10,BB+,1,2020.12
4,XS1433454243,FASPM 5.375 06/16/23,2.358,900000000,USD,10,BB,2,2020.12
...,...,...,...,...,...,...,...,...,...
2089,0,GRUPP 06/27/21,Internal error,0,RUB,NaN,NaN,"–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è",2022.01
2090,0,GRUPP 06/27/21,Internal error,0,RUB,NaN,NaN,"–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è",2022.01
2091,0,GRUPP 06/27/21,Internal error,0,RUB,NaN,NaN,"–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è",2022.01
2092,0,GRUPP 06/27/21,Internal error,0,RUB,NaN,NaN,"–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è",2022.01
2093,0,GRUPP 06/27/21,Internal error,0,RUB,NaN,NaN,"–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è",2022.01

In [13]:
# –í—ã–±–∏—Ä–∞–µ–º —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —Å—Ç–æ–ª–±–µ—Ü –≠—à–µ–ª–æ–Ω != –û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
combined_data = combined_data[~combined_data["Echelon"].astype(str).str.contains("–û—à–∏–±–∫–∞, –Ω–µ —á–∏—Å–ª–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è")]

In [14]:
# –£–±–∏—Ä–∞–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã —Å—Ç—Ä–æ–∫(–ø—Ä–∏ –æ—Ç–±–æ—Ä–µ –∏—Å–∫–ª—é—á–∞–µ–º Date)
combined_data.drop_duplicates(subset=combined_data.columns.difference(["Date"]), inplace=True)

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\1773333570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data.drop_duplicates(subset=combined_data.columns.difference(["Date"]), inplace=True)

In [15]:
# –£–±–∏—Ä–∞–µ–º —Å—Ç—Ä–æ–∫–∏ —Å Null
combined_data.dropna(inplace=True)

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\427361800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data.dropna(inplace=True)

In [16]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º Date –≤ datetime
combined_data["Date"] = pd.to_datetime(combined_data["Date"], format='%Y.%m')

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\1602588503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data["Date"] = pd.to_datetime(combined_data["Date"], format='%Y.%m')

In [17]:
# –£–¥–∞–ª—è–µ–º —Ç–µ–∫—Å—Ç–æ–≤—ã–µ TRPS –¥–∞–Ω–Ω—ã–µ
combined_data['TRPS'] = pd.to_numeric(combined_data['TRPS'], errors='coerce')
combined_data.dropna(subset=['TRPS'], inplace=True)

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\3276972932.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['TRPS'] = pd.to_numeric(combined_data['TRPS'], errors='coerce')
C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\3276972932.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data.dropna(subset=['TRPS'], inplace=True)

In [18]:
# –ú–µ–Ω—è–µ–º —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –∏ –æ–±–Ω–æ–≤–ª—è–µ–º –∏–Ω–¥–µ–∫—Å—ã
combined_data['Duration'] = combined_data['Duration'].astype(float)
combined_data['Amount'] = combined_data['Amount'].astype(float)
combined_data['Echelon'] = combined_data['Echelon'].astype(int)
combined_data.reset_index(drop=True, inplace=True)

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\1132213808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['Duration'] = combined_data['Duration'].astype(float)
C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\1132213808.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['Amount'] = combined_data['Amount'].astype(float)
C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\1132213808.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['Echelon'] = combined_data['Echelon'].astype(int)

In [19]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        988 non-null    object
 1   Description  988 non-null    object
 2   Duration     988 non-null    float64
 3   Amount       988 non-null    float64
 4   Currency     988 non-null    object
 5   TRPS         988 non-null    float64
 6   Rating       988 non-null    object
 7   Echelon      988 non-null    int32
 8   Date         988 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int32(1), object(4)
memory usage: 65.7+ KB

In [20]:
# –ë—É–∫–∞–≤—ã —Ä–µ–π—Ç–∏–Ω–≥ –º–µ–Ω—è–µ–º –Ω–∞ –º–∞—à–∏–Ω–∞ –ø–æ–Ω–∏–º–∞—Ç—å —è–∑—ã–∫
replacement_dict = {
    'B-': 1,
    'B': 2,
    'B+': 3,
    'BB-': 4,
    'BB': 5,
    'BB+': 6,
    'BBB-': 7,
    'BBB': 8,
    'BBB+': 9,
    'A-': 10
}
combined_data['Rating'] = combined_data['Rating'].replace(replacement_dict)

C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\2689714923.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  combined_data['Rating'] = combined_data['Rating'].replace(replacement_dict)
C:\Users\mikhe\AppData\Local\Temp\ipykernel_1672\2689714923.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_data['Rating'] = combined_data['Rating'].replace(replacement_dict)

In [21]:
set(combined_data['Rating'])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
# combined_data.to_csv('echelons.csv', index=False)

In [23]:
# combined_data = pd.read_csv('echelons.csv')
# combined_data["Date"] = pd.to_datetime(combined_data["Date"])
# combined_data.head()

In [24]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        988 non-null    object
 1   Description  988 non-null    object
 2   Duration     988 non-null    float64
 3   Amount       988 non-null    float64
 4   Currency     988 non-null    object
 5   TRPS         988 non-null    float64
 6   Rating       988 non-null    int64
 7   Echelon      988 non-null    int32
 8   Date         988 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int32(1), int64(1), object(3)
memory usage: 65.7+ KB

# –î–æ—Å—Ç–∞–µ–º –∏–∑ –ë–î —É—Ä–æ–≤–µ–Ω—å –ª–∏—Å—Ç–∏–Ω–≥–∞ –±—É–º–∞–≥–∏

In [135]:
def query_db(securityid, date):
    arr = 0
    connection_string = r'Driver={SQL Server};Server=DEVELOPERS-SQL;Database=InnerData;Trusted_Connection=yes'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    interval_start = date - timedelta(days=100)
                                      
    # —Ç—É—Ç –≤–∞–∂–Ω–æ!!! USA ü¶Ö —Ñ–æ—Ä–º–∞—Ç –≥–æ–¥/–¥–µ–Ω—å/–º–µ—Å—è—Ü
    date = date.strftime("%Y-%d-%m")
    interval_start = interval_start.strftime("%Y-%d-%m")
    
    query = f"""
    SELECT TOP 1 ListName
    FROM MM00001_SEM21
    WHERE SecurityId = CONVERT(VARCHAR, ?) AND TradeDate >= ? AND TradeDate < ?
    ORDER BY TradeDate DESC
    """
    
    cursor.execute(query, (securityid, interval_start, date))
    
    arr = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return arr

In [142]:
# –î–æ—Å—Ç–∞–µ–º —É—Ä–æ–≤–µ–Ω—å –ª–∏—Å—Ç–∏–Ω–≥–∞ –∏–∑ –±–¥ –∏ —Å–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫
new_column = []
for index, row in combined_data.iterrows():
    list_name = query_db(row['Index'], row['Date'])
    new_column.append(list_name)

In [182]:
new_column[:5]

[[(3, )], [(3, )], [(-1, )], [(3, )], []]

In [183]:
# –î–µ–ª–∞–µ–º —Å–ø–∏—Å–æ–∫ –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–º
new_column_flat = []
for sublist in new_column:
    if sublist == []:
        new_column_flat.append(None)
    else:
        for item in sublist:
            new_column_flat.append(item[0])           
new_column_flat[:5]

[3, 3, -1, 3, None]

In [181]:
len(new_column_flat)

988

In [184]:
# –°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü
combined_data['Listing'] = new_column_flat

In [192]:
# –£–¥–∞–ª—è–µ–º NaN –∑–Ω–∞—á–µ–Ω–∏—è, –æ–±–Ω—É–ª—è–µ–º –∏–Ω–¥–µ–∫—Å
combined_data = combined_data.dropna()
combined_data = combined_data.reset_index(drop=True)

# –õ–æ–º–±–∞—Ä–¥–Ω—ã–π —Å–ø–∏—Å–æ–∫

In [3]:
import xml.etree.ElementTree as ET

In [51]:
folder = ["2020-12-01","2021-01-01","2021-02-01","2021-03-01","2021-04-01","2021-05-01",
           "2021-06-01","2021-07-01","2021-08-01","2021-09-01","2021-10-01","2021-11-01","2021-12-01","2022-01-01"]

In [91]:
# XML
combined_data["Lombard"] = False
# –î–ª—è –∫–∞–∂–¥–æ–≥–æ —Ñ–∞–π–ª–∞ –∏–∑ –ø–∞–ø–∫–∏
for file in folder:
    # –õ–µ–ø–∏–º –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É
    file_path = os.path.join(r"C:\Users\MikheevMN\lombard_xml", file)
    file_path = file_path + ".xml"
    tree = ET.parse(file_path)
    tree = ET.parse(xml_path)
    root = tree.getroot()
    # –°–ø–∏—Å–æ–∫ –∏—Å–∏–Ω–æ–≤
    isin_list = []
    for emitent in root.findall("./Papers/Emitent"):
        for paper in emitent.findall("Paper"):
            isin = paper.get("ISIN")
            mask = (combined_data['Date'] == file) & (combined_data['Index'] == isin)
            if mask.any():
                combined_data.loc[mask, 'Lombard'] = True

In [89]:
# OFZ
ofz_xlsx = r"C:\Users\MikheevMN\bondsearch_26_04_2024.xlsx"
xlsx_data = pd.read_excel(ofz_xlsx, usecols=[18])
for index, row in xlsx_data.iterrows():
    mask = combined_data['Index'] == row['ISIN']
    if mask.any():
        combined_data.loc[mask, 'Lombard'] = True

In [92]:
combined_data['Lombard'] = combined_data['Lombard'].replace({True: 1, False: 0})

In [96]:
# combined_data.to_csv('echelons.csv', index=False)

# –õ–∏–∫–≤–∏–¥–Ω–æ—Å—Ç—å

## –°–æ–∑–¥–∞–ª —Ç–∞–±–ª–∏—Ü—É –≤ –±–¥ —Å –∫—É—Ä—Å–∞–º–∏ –≤–∞–ª—é—Ç –¥–ª—è —Ä–∞–∑–Ω—ã—Ö –¥–∞—Ç

In [19]:
# df_ex_rate = pd.read_excel(r'C:\Users\MikheevMN\indexes_archive_20240427.xlsx')
# df_ex_rate["–î–∞—Ç–∞"] = pd.to_datetime(df_ex_rate["–î–∞—Ç–∞"], format="%d.%m.%Y")

In [36]:
# df_ex_rate['RUR'] = 1
# df_ex_rate_melted = pd.melt(df_ex_rate, id_vars=['–î–∞—Ç–∞'], var_name='–í–∞–ª—é—Ç–∞', value_name='–ö—É—Ä—Å')
# df_ex_rate_melted['–í–∞–ª—é—Ç–∞'] = df_ex_rate_melted['–í–∞–ª—é—Ç–∞'].apply(lambda x: 'USD' if x == 'USD/RUB (FX)' else 'EUR' if x == 'EUR/RUB (FX)' else 'RUR')
# df_ex_rate_melted.at[966, '–ö—É—Ä—Å'] = 87.77
# df_ex_rate_melted[df_ex_rate_melted['–î–∞—Ç–∞']=='2021-07-21']

           –î–∞—Ç–∞ –í–∞–ª—é—Ç–∞   –ö—É—Ä—Å
385  2021-07-21    USD  73.87
966  2021-07-21    EUR  87.77
1547 2021-07-21    RUR   1.00

## Vi —Å–¥–µ–ª–∞–Ω–æ

In [50]:
# –í –æ–¥–Ω—É –¥–∞—Ç—É –º–æ–∂–µ—Ç –±—ã—Ç—å 2 –∑–∞–ø–∏—Å–∏: –≤ –≤–∞–ª—é—Ç–µ –∏ –≤ —Ä—É–±–ª—è—Ö

In [10]:
def query_db_vi(securityid, date):
    arr = 0
    connection_string = r'Driver={SQL Server};Server=DEVELOPERS-SQL;Database=InnerData;Trusted_Connection=yes'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    interval_start = date - timedelta(days=300)
                                      
    # —Ç—É—Ç –≤–∞–∂–Ω–æ!!! USA ü¶Ö —Ñ–æ—Ä–º–∞—Ç –≥–æ–¥/–¥–µ–Ω—å/–º–µ—Å—è—Ü
    date = date.strftime("%Y-%d-%m")
    interval_start = interval_start.strftime("%Y-%d-%m")
    
    query = f"""
    SELECT ROUND(AVG(AmountInDay), 1)
    FROM(
        SELECT TOP 30 TradeDate, SUM(Amount) AS AmountInDay
        FROM(
            SELECT DISTINCT TradeDate, CurrencyId, Value * –ö—É—Ä—Å AS Amount
            FROM MM00001_SEM21 sem LEFT JOIN Exchange_rate ex
                ON ex.–í–∞–ª—é—Ç–∞ = sem.CurrencyId AND ex.–î–∞—Ç–∞ = sem.TradeDate
            WHERE SecurityId = CONVERT(VARCHAR, ?) AND TradeDate >= ? AND TradeDate < ? AND (BoardId = 'TQCB' OR BoardId = 'TQOD' OR BoardId = 'TQOE' OR BoardId = 'TQOY')
            ) AS subquery
        GROUP BY TradeDate
        ORDER BY TradeDate DESC) AS subquery2
    """
    
    cursor.execute(query, (securityid, interval_start, date))
    
    arr = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return arr

In [11]:
query_db_vi('XS2134628069', combined_data['Date'][1])

[(105811.5, )]

## –†–∞—Å—Å—á–µ—Ç V

In [12]:
# –ø–æ–∫–∞ —á—Ç–æ —É–¥–∞–ª–∏–ª –¥–∞—Ç—É –Ω–∞—á–∞–ª–∞, –ø—Ä–æ—Å—Ç–æ –±–µ—Ä—É —Ç–æ–ø 30
def query_db_v(date):
    arr = 0
    connection_string = r'Driver={SQL Server};Server=DEVELOPERS-SQL;Database=InnerData;Trusted_Connection=yes'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    interval_start = date - timedelta(days=150)
                                      
    # —Ç—É—Ç –≤–∞–∂–Ω–æ!!! –ü–û–ß–ï–ú–£ –¢–û –¢–ï–ü–ï–†–¨ –†–ê–ë–û–¢–ê–ï–¢ –≥–≥–≥–≥.–º–º.–¥–¥ UPD –æ–ø—è—Ç—å –¥–¥–º–º
    date = date.strftime("%Y-%d-%m")
    interval_start = interval_start.strftime("%Y-%d-%m")
    
    query = f"""
    SELECT ROUND(AVG(AmountDay), 0)
    FROM(
        SELECT TOP 30 TradeDate, SUM(Amount) AS AmountDay
        FROM(
            SELECT DISTINCT TradeDate, CurrencyId, SecurityId, Value * –ö—É—Ä—Å AS Amount
            FROM MM00001_SEM21 sem LEFT JOIN Exchange_rate ex
                 ON ex.–í–∞–ª—é—Ç–∞ = sem.CurrencyId AND ex.–î–∞—Ç–∞ = sem.TradeDate
            WHERE TradeDate >= ? AND TradeDate < ? AND EngType = 'bn' AND (BoardId = 'TQCB' OR BoardId = 'TQOD' OR BoardId = 'TQOE' OR BoardId = 'TQOY')
            ) AS subquery
        GROUP BY TradeDate
        ORDER BY TradeDate DESC) AS subquery2
    """
    
    cursor.execute(query, (interval_start, date))
    
    arr = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return arr

In [13]:
query_db_v(combined_data['Date'][1])

[(4770814893.0, )]

## –†–∞—Å—Å—á–µ—Ç NTi

In [14]:
def query_db_nti(securityid, date):
    arr = 0
    connection_string = r'Driver={SQL Server};Server=DEVELOPERS-SQL;Database=InnerData;Trusted_Connection=yes'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    interval_start = date - timedelta(days=300)
                                      
    # —Ç—É—Ç –≤–∞–∂–Ω–æ!!! –∞–º–µ—Ä–∏–∫–∞–Ω—Å–∫–∏–π —Ñ–æ—Ä–º–∞—Ç –≥–æ–¥/–¥–µ–Ω—å/–º–µ—Å—è—Ü
    date = date.strftime("%Y-%d-%m")
    interval_start = interval_start.strftime("%Y-%d-%m")
    
    query = f"""
    SELECT ROUND(AVG(convert(float, TradesInDay)), 3)
    FROM(
        SELECT TOP 30 TradeDate, SUM(NumTrades) AS TradesInDay
        FROM(
            SELECT DISTINCT TradeDate, Value, NumTrades
            FROM MM00001_SEM21
            WHERE SecurityId = CONVERT(VARCHAR, ?) AND TradeDate >= ? AND TradeDate < ? AND (BoardId = 'TQCB' OR BoardId = 'TQOD' OR BoardId = 'TQOE' OR BoardId = 'TQOY')
            ) AS subquery
        GROUP BY TradeDate
        ORDER BY TradeDate DESC) AS subquery2
    """
    
    cursor.execute(query, (securityid, interval_start, date))
    
    arr = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return arr

In [15]:
query_db_nti('XS1449458915', combined_data['Date'][1])

[(0.567, )]

## –†–∞—Å—Å—á–µ—Ç NT

In [16]:
# –ø–æ–∫–∞ —á—Ç–æ —É–¥–∞–ª–∏–ª –¥–∞—Ç—É –Ω–∞—á–∞–ª–∞, –ø—Ä–æ—Å—Ç–æ –±–µ—Ä—É —Ç–æ–ø 30
def query_db_nt(date):
    arr = 0
    connection_string = r'Driver={SQL Server};Server=DEVELOPERS-SQL;Database=InnerData;Trusted_Connection=yes'
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    interval_start = date - timedelta(days=150)
                                      
    # —Ç—É—Ç –≤–∞–∂–Ω–æ!!! –ü–û–ß–ï–ú–£ –¢–û –¢–ï–ü–ï–†–¨ –†–ê–ë–û–¢–ê–ï–¢ –≥–≥–≥–≥.–º–º.–¥–¥ UPD –æ–ø—è—Ç—å –¥–¥–º–º
    date = date.strftime("%Y-%d-%m")
    interval_start = interval_start.strftime("%Y-%d-%m")
    
    query = f"""
    SELECT AVG(TradesInDay)
    FROM(
        SELECT TOP 30 TradeDate, SUM(NumTrades) AS TradesInDay
        FROM(
            SELECT DISTINCT TradeDate, CurrencyId, SecurityId, Value, NumTrades
            FROM MM00001_SEM21
            WHERE TradeDate >= ? AND TradeDate < ? AND EngType = 'bn' AND (BoardId = 'TQCB' OR BoardId = 'TQOD' OR BoardId = 'TQOE' OR BoardId = 'TQOY')
            ) AS subquery
        GROUP BY TradeDate
        ORDER BY TradeDate DESC) AS suquery2
    """
    
    cursor.execute(query, (interval_start, date))
    
    arr = cursor.fetchall()
    
    cursor.close()
    connection.close()
    return arr

In [17]:
query_db_nt(combined_data['Date'][1])

[(32507, )]

## –°–æ–µ–¥–∏–Ω—è–µ–º –≤—Å–µ

In [38]:
# df = pd.DataFrame(li_base_list_nach)
# df.to_csv('li_base.csv')

In [4]:
li_base = pd.read_csv('li_base.csv')
li_base_list_nach = li_base['0'].tolist()

FileNotFoundError: [Errno 2] No such file or directory: 'li_base.csv'

In [18]:
li_base_column = []
for index, row in combined_data[715:].iterrows():
    # –∫–æ–Ω—Å—Ç–∞–Ω—Ç—ã
    a = 0.03
    b = 0.07
    # –≤—Å–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –∏–¥—É—Ç –∑–∞–ø—Ä–æ—Å—ã –∫ –±–¥
    v_i = query_db_vi(row['Index'], row['Date'])[0][0]
    v = query_db_v(row['Date'])[0][0]
    nt_i = query_db_vi(row['Index'], row['Date'])[0][0]
    nt = query_db_v(row['Date'])[0][0]
    
    # —Ñ–æ—Ä–º—É–ª–∞
    if v_i == None or v == None or nt_i == None or nt == None:
        li_base = None
    else: 
        li_base = pow(v_i/v, a) * pow(nt_i/nt, b)
    li_base_column.append(li_base)

In [39]:
len(li_base_list_nach)

880

In [40]:
combined_data['Liquidity'] = li_base_list_nach
combined_data = combined_data.fillna(0)
combined_data.head()

,Index,Description,Duration,Amount,Currency,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity
0,XS2134628069,MMCFN 2.550 09/11/25 '25,4.223,500000000.0,USD,10.0,7,1,2020-12-01,3.0,0,0.342448
1,XS1449458915,GOTRL 5.950 07/19/21,0.558,350000000.0,USD,10.0,5,2,2020-12-01,3.0,1,0.435783
2,XS1319822752,EVRE 8.250 01/28/21,0.097,750000000.0,USD,10.0,6,1,2020-12-01,-1.0,0,0.000000
3,XS1433454243,FASPM 5.375 06/16/23,2.358,900000000.0,USD,10.0,5,2,2020-12-01,3.0,0,0.428966
4,XS1951067039,CBOMF 5.150 02/20/24,2.890,327228000.0,EUR,10.0,4,2,2020-12-01,3.0,0,0.439385

In [ ]:
dummies = pd.get_dummies(combined_data['Currency'])
combined_data = pd.concat([combined_data, dummies], axis=1)
combined_data.drop(columns=['Currency'], inplace=True)

# –ú–æ–∂–Ω–æ –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å –¥–∞—Ç–∞—Å–µ—Ç —Å —ç—Ç–æ–≥–æ –º–æ–º–µ–Ω—Ç–∞

–ë—ã–ª–æ –ø—Ä–∏–Ω—è—Ç–æ —Ä–µ—à–µ–Ω–∏–µ —É–±—Ä–∞—Ç—å —Å—Ç–æ–ª–±—Ü—ã —Å –≤–∞–ª—é—Ç–æ–π –∏ –ª–æ–º–±–∞—Ä–¥–Ω—ã–π —Å–ø–∏—Å–æ–∫

In [2]:
# combined_data.to_csv('echelons.csv', index=False)
combined_data = pd.read_csv('echelons.csv')
combined_data["Date"] = pd.to_datetime(combined_data["Date"])
combined_data.head()

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
0,XS2134628069,MMCFN 2.550 09/11/25 '25,4.223,500000000.0,10.0,7,1,2020-12-01,3.0,0,0.342448,0,0,1
1,XS1449458915,GOTRL 5.950 07/19/21,0.558,350000000.0,10.0,5,2,2020-12-01,3.0,1,0.435783,0,0,1
2,XS1319822752,EVRE 8.250 01/28/21,0.097,750000000.0,10.0,6,1,2020-12-01,-1.0,0,0.000000,0,0,1
3,XS1433454243,FASPM 5.375 06/16/23,2.358,900000000.0,10.0,5,2,2020-12-01,3.0,0,0.428966,0,0,1
4,XS1951067039,CBOMF 5.150 02/20/24,2.890,327228000.0,10.0,4,2,2020-12-01,3.0,0,0.439385,1,0,0

<b> –õ–∏—Å—Ç–∏–Ω–≥ -1 –∑–∞–º–µ–Ω—è–µ–º –Ω–∞ 4, —á—Ç–æ–±—ã –±—ã–ª–∞ –ª—É—á—à–µ –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∏—Ä—É–µ–º–æ—Å—Ç—å </b>

In [3]:
combined_data.loc[combined_data['Listing'] == -1, 'Listing'] = 4

In [4]:
set(combined_data['Listing'])

{1.0, 2.0, 3.0, 4.0}

In [5]:
combined_data.loc[(combined_data['Index']=='RU000A100V79')]

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
32,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.311,1.000000e+10,7.0,4,2,2020-12-01,1.0,0,0.511422,0,1,0
85,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.221,1.000000e+10,8.0,4,2,2021-01-01,1.0,0,0.513494,0,1,0
143,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.153,1.000000e+10,8.0,4,2,2021-02-01,1.0,0,0.512606,0,1,0
203,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.046,1.000000e+10,7.0,4,2,2021-03-01,1.0,0,0.491023,0,1,0
266,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.197,1.000000e+10,7.0,4,2,2021-04-01,1.0,0,0.519726,0,1,0
330,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.132,1.000000e+10,7.0,4,2,2021-05-01,1.0,0,0.512483,0,1,0
396,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.038,1.000000e+10,8.0,4,2,2021-06-01,1.0,0,0.507017,0,1,0
464,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.947,1.000000e+10,8.0,4,2,2021-07-01,1.0,0,0.563355,0,1,0
530,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.859,1.000000e+10,8.0,4,2,2021-08-01,1.0,0,0.585213,0,1,0
591,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.780,1.000000e+10,8.0,4,2,2021-09-01,1.0,0,0.607570,0,1,0
653,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.917,1.000000e+10,8.0,5,2,2021-10-01,1.0,0,0.508948,0,1,0
718,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.817,1.000000e+10,9.0,5,2,2021-11-01,1.0,0,0.503851,0,1,0
781,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.740,1.000000e+10,9.0,5,2,2021-12-01,1.0,0,0.537747,0,1,0
848,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.651,1.000000e+10,9.0,5,2,2022-01-01,1.0,0,0.579991,0,1,0

3 2 3

In [6]:
combined_data.loc[(combined_data['Rating'] < 5.5)&(combined_data['Rating'] > 3.5)].sort_values('Echelon')

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
1,XS1449458915,GOTRL 5.950 07/19/21,0.558,3.500000e+08,10.0,5,2,2020-12-01,3.0,1,0.435783,0,0,1
524,XS2099763075,CBOMF 4.700 01/29/25,3.216,5.410000e+08,10.0,5,2,2021-08-01,3.0,0,0.526798,0,0,1
528,RU000A0JVUK8,AFKS 9.750 09/30/25 PUT,0.612,5.000000e+09,8.0,5,2,2021-08-01,3.0,1,0.419462,0,1,0
529,RU000A0JWYQ5,AFKS 6.350 10/30/26 PUT,4.418,6.500000e+09,9.0,5,2,2021-08-01,3.0,1,0.393671,0,1,0
530,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.859,1.000000e+10,8.0,4,2,2021-08-01,1.0,0,0.585213,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.108,5.000000e+09,6.0,5,3,2021-06-01,2.0,1,0.000000,0,1,0
363,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.191,5.000000e+09,7.0,5,3,2021-05-01,2.0,1,0.000000,0,1,0
362,RU000A0JS5R1,VNESH 6.200 03/17/22 PUT,0.818,5.000000e+09,7.0,5,3,2021-05-01,2.0,1,0.000000,0,1,0
496,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.018,5.000000e+09,6.0,5,3,2021-07-01,2.0,1,0.000000,0,1,0
495,RU000A0JS5R1,VNESH 6.200 03/17/22 PUT,0.645,5.000000e+09,6.0,5,3,2021-07-01,2.0,1,0.000000,0,1,0

3 2 2

In [7]:
combined_data.loc[(combined_data['Rating'] < 5.5)&(combined_data['Rating'] > 3.5)&(combined_data['Liquidity'] < 0.532)&(combined_data['Echelon'] == 3)].sort_values('Index')

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
362,RU000A0JS5R1,VNESH 6.200 03/17/22 PUT,0.818,5.000000e+09,7.0,5,3,2021-05-01,2.0,1,0.000000,0,1,0
429,RU000A0JS5R1,VNESH 6.200 03/17/22 PUT,0.736,5.000000e+09,6.0,5,3,2021-06-01,2.0,1,0.000000,0,1,0
495,RU000A0JS5R1,VNESH 6.200 03/17/22 PUT,0.645,5.000000e+09,6.0,5,3,2021-07-01,2.0,1,0.000000,0,1,0
363,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.191,5.000000e+09,7.0,5,3,2021-05-01,2.0,1,0.000000,0,1,0
430,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.108,5.000000e+09,6.0,5,3,2021-06-01,2.0,1,0.000000,0,1,0
496,RU000A0JS603,VNESH 6.250 08/11/22 PUT,1.018,5.000000e+09,6.0,5,3,2021-07-01,2.0,1,0.000000,0,1,0
339,RU000A102GY7,HEDTR 6.450 12/11/23,2.370,4.000000e+09,6.0,5,3,2021-05-01,3.0,0,0.515653,0,1,0

In [8]:
combined_data.loc[(combined_data['Rating'] > 3.5)&(combined_data['Rating'] > 5.5)&(combined_data['Rating'] < 9.5)&(combined_data['Amount'] > 3500000000)&(combined_data['Listing'] >1.5)&(combined_data['Amount'] <= 8500000000)&(combined_data['Duration'] <=1.965)&(combined_data['Rating'] > 6.5)&(combined_data['Duration'] <= 1.126)&(combined_data['Amount'] <= 6000000000)].sort_values('Index')

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
28,RU000A0JREW5,VNESH 7.270 04/02/21 PUT,0.277,5.000000e+09,8.0,7,1,2020-12-01,3.0,1,0.247987,0,1,0
81,RU000A0JREW5,VNESH 7.270 04/02/21 PUT,0.192,5.000000e+09,8.0,7,1,2021-01-01,3.0,1,0.227047,0,1,0
139,RU000A0JREW5,VNESH 7.270 04/02/21 PUT,0.000,5.000000e+09,8.0,7,1,2021-02-01,3.0,1,0.000000,0,1,0
199,RU000A0JREW5,VNESH 7.270 04/02/21 PUT,0.041,5.000000e+09,8.0,7,1,2021-03-01,3.0,1,0.152813,0,1,0
743,RU000A0JTLJ3,USMHD 7.650 01/27/23 PUT,1.123,5.000000e+09,9.0,7,1,2021-11-01,2.0,1,0.182875,0,1,0
807,RU000A0JTLJ3,USMHD 7.650 01/27/23 PUT,1.057,5.000000e+09,8.0,7,1,2021-12-01,2.0,1,0.248516,0,1,0
873,RU000A0JTLJ3,USMHD 7.650 01/27/23 PUT,0.961,5.000000e+09,8.0,7,1,2022-01-01,2.0,1,0.353016,0,1,0
744,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.123,5.000000e+09,8.0,7,1,2021-11-01,2.0,1,0.271899,0,1,0
808,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.057,5.000000e+09,8.0,7,1,2021-12-01,2.0,1,0.248259,0,1,0
874,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,0.961,5.000000e+09,7.0,7,2,2022-01-01,2.0,1,0.240876,0,1,0
721,RU000A0JX2F6,ROSB 6.550 12/20/26 PUT,1.036,5.000000e+09,8.0,7,1,2021-11-01,2.0,1,0.273857,0,1,0
783,RU000A0JX2F6,ROSB 6.550 12/20/26 PUT,0.973,5.000000e+09,8.0,7,1,2021-12-01,2.0,1,0.288785,0,1,0
850,RU000A0JX2F6,ROSB 6.550 12/20/26 PUT,0.909,5.000000e+09,7.0,7,2,2022-01-01,2.0,1,0.256346,0,1,0

–£–±—Ä–∞—Ç—å: RU000A0JVVA7 RU000A1008V9 RU000A101KK0
RU000A0JS5R1 RU000A0JS603 
RU000A101MZ4

In [9]:
remove_indexes = ['RU000A0JVVA7', 'RU000A1008V9', 'RU000A101KK0', 'RU000A0JS5R1', 'RU000A0JS603', 'RU000A101MZ4']
combined_data = combined_data[~combined_data['Index'].isin(remove_indexes)]

–£–¥–∞–ª–µ–Ω–∏–µ –æ–±–ª–∏–≥–∞—Ü–∏–π —Å 0 –ª–∏–∫–≤–∏–¥–Ω–æ—Å—Ç—å—é

In [10]:
# df_delete = combined_data[(combined_data['Liquidity']==0)&((combined_data['EUR']==1)|(combined_data['USD']==1))]
df_delete = combined_data[(combined_data['Liquidity']==0)]
# –ü–æ–ª—É—á–∞–µ–º –∏–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫, –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å
indices_to_delete = df_delete.index
# –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏ –∏–∑ combined_data
combined_data = combined_data.drop(indices_to_delete)
combined_data = combined_data.reset_index(drop=True)
combined_data.head()

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
0,XS2134628069,MMCFN 2.550 09/11/25 '25,4.223,500000000.0,10.0,7,1,2020-12-01,3.0,0,0.342448,0,0,1
1,XS1449458915,GOTRL 5.950 07/19/21,0.558,350000000.0,10.0,5,2,2020-12-01,3.0,1,0.435783,0,0,1
2,XS1433454243,FASPM 5.375 06/16/23,2.358,900000000.0,10.0,5,2,2020-12-01,3.0,0,0.428966,0,0,1
3,XS1951067039,CBOMF 5.150 02/20/24,2.890,327228000.0,10.0,4,2,2020-12-01,3.0,0,0.439385,1,0,0
4,XS2010044381,GTEPT 4.949 02/18/26,4.555,550000000.0,10.0,5,2,2020-12-01,3.0,1,0.499631,0,0,1

In [11]:
df_delete.to_excel('df_delete.xlsx')

–£–¥–∞–ª–µ–Ω–∏–µ –ï–í–†–û –∏ –î–û–õ–õ–ê–† –±—É–º–∞–≥

In [12]:
df_delete = combined_data[(combined_data['EUR']==1) | (combined_data['USD']==1)]
# –ü–æ–ª—É—á–∞–µ–º –∏–Ω–¥–µ–∫—Å—ã —Å—Ç—Ä–æ–∫, –∫–æ—Ç–æ—Ä—ã–µ –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å
indices_to_delete = df_delete.index
# –£–¥–∞–ª—è–µ–º —Å—Ç—Ä–æ–∫–∏ –∏–∑ combined_data
combined_data = combined_data.drop(indices_to_delete)
combined_data = combined_data.reset_index(drop=True)
combined_data.head()

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
0,RU000A0JREW5,VNESH 7.270 04/02/21 PUT,0.277,5.000000e+09,8.0,7,1,2020-12-01,3.0,1,0.247987,0,1,0
1,RU000A0JWV63,FASPM 14.250 Perp '26,4.214,5.000000e+09,7.0,6,2,2020-12-01,3.0,0,0.506778,0,1,0
2,RU000A0JVUK8,AFKS 9.750 09/30/25 PUT,1.226,5.000000e+09,9.0,4,2,2020-12-01,3.0,1,0.479351,0,1,0
3,RU000A0JWYQ5,AFKS 6.350 10/30/26 PUT,4.943,6.500000e+09,9.0,4,2,2020-12-01,3.0,1,0.609514,0,1,0
4,RU000A100V79,TCSX 8.250 09/12/29 PUT,6.311,1.000000e+10,7.0,4,2,2020-12-01,1.0,0,0.511422,0,1,0

In [18]:
combined_data.loc[(combined_data['Rating'] > 5.5)&(combined_data['Listing'] < 1.5)&(combined_data['Duration'] >= 2.165)].sort_values('Index')

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
18,RU000A0JVA10,GOTRL 7.980 03/06/25 PUT,2.471,5.000000e+09,8.0,6,1,2020-12-01,1.0,1,0.446915,0,1,0
43,RU000A0JVA10,GOTRL 7.980 03/06/25 PUT,2.381,5.000000e+09,8.0,6,1,2021-01-01,1.0,1,0.406625,0,1,0
129,RU000A0JVA10,GOTRL 7.980 03/06/25 PUT,2.182,5.000000e+09,8.0,6,1,2021-04-01,1.0,1,0.379386,0,1,0
70,RU000A0JVA10,GOTRL 7.980 03/06/25 PUT,2.319,5.000000e+09,8.0,6,1,2021-02-01,1.0,1,0.413961,0,1,0
101,RU000A0JVA10,GOTRL 7.980 03/06/25 PUT,2.278,5.000000e+09,8.0,6,1,2021-03-01,1.0,1,0.405116,0,1,0
14,RU000A0ZYNY4,GOTRL 5.250 12/31/32 FRN PUT,8.706,1.000000e+10,8.0,6,1,2020-12-01,1.0,1,0.487284,0,1,0
267,RU000A0ZYNY4,GTLK 6.250 12/31/32 FRN PUT,7.443,1.000000e+10,8.0,6,1,2021-09-01,1.0,1,0.446244,0,1,0
241,RU000A0ZYNY4,GOTRL 6.250 12/31/32 FRN PUT,7.639,1.000000e+10,8.0,6,1,2021-08-01,1.0,1,0.476362,0,1,0
323,RU000A0ZYNY4,GTLK 6.250 12/31/32 FRN PUT,7.255,1.000000e+10,8.0,6,1,2021-11-01,1.0,1,0.475264,0,1,0
213,RU000A0ZYNY4,GOTRL 6.250 12/31/32 FRN PUT,8.068,1.000000e+10,8.0,6,1,2021-07-01,1.0,1,0.493651,0,1,0
182,RU000A0ZYNY4,GOTRL 5.000 12/31/32 FRN PUT,8.059,1.000000e+10,8.0,6,1,2021-06-01,1.0,1,0.472228,0,1,0
154,RU000A0ZYNY4,GOTRL 5.000 12/31/32 FRN PUT,8.249,1.000000e+10,8.0,6,1,2021-05-01,1.0,1,0.501656,0,1,0
125,RU000A0ZYNY4,GOTRL 5.000 12/31/32 FRN PUT,8.540,1.000000e+10,8.0,6,1,2021-04-01,1.0,1,0.513495,0,1,0
295,RU000A0ZYNY4,GTLK 6.250 12/31/32 FRN PUT,7.569,1.000000e+10,8.0,6,1,2021-10-01,1.0,1,0.452162,0,1,0
96,RU000A0ZYNY4,GOTRL 5.250 12/31/32 FRN PUT,8.630,1.000000e+10,8.0,6,1,2021-03-01,1.0,1,0.533873,0,1,0
378,RU000A0ZYNY4,GTLK 9.250 12/31/32 FRN PUT,6.781,1.000000e+10,8.0,6,1,2022-01-01,1.0,1,0.517356,0,1,0
38,RU000A0ZYNY4,GOTRL 5.250 12/31/32 FRN PUT,8.796,1.000000e+10,8.0,6,1,2021-01-01,1.0,1,0.506521,0,1,0
65,RU000A0ZYNY4,GOTRL 5.250 12/31/32 FRN PUT,8.733,1.000000e+10,8.0,6,1,2021-02-01,1.0,1,0.532343,0,1,0
351,RU000A0ZYNY4,GTLK 6.250 12/31/32 FRN PUT,6.996,1.000000e+10,8.0,6,1,2021-12-01,1.0,1,0.532971,0,1,0
97,RU000A0ZYR91,GOTRL 4.900 01/18/33 FRN PUT,8.685,1.000000e+10,9.0,6,1,2021-03-01,1.0,1,0.497044,0,1,0
268,RU000A0ZYR91,GTLK 6.150 01/18/33 FRN PUT,7.472,1.000000e+10,9.0,6,1,2021-09-01,1.0,1,0.444941,0,1,0
242,RU000A0ZYR91,GOTRL 6.150 01/18/33 FRN PUT,7.659,1.000000e+10,9.0,6,1,2021-08-01,1.0,1,0.463241,0,1,0
39,RU000A0ZYR91,GOTRL 5.150 01/18/33 FRN PUT,8.705,1.000000e+10,9.0,6,1,2021-01-01,1.0,1,0.477258,0,1,0
214,RU000A0ZYR91,GOTRL 5.150 01/18/33 FRN PUT,7.867,1.000000e+10,9.0,6,1,2021-07-01,1.0,1,0.454796,0,1,0
379,RU000A0ZYR91,GTLK 7.400 01/18/33 FRN PUT,6.531,1.000000e+10,9.0,6,1,2022-01-01,1.0,1,0.587671,0,1,0
324,RU000A0ZYR91,GTLK 7.400 01/18/33 FRN PUT,7.101,1.000000e+10,9.0,6,1,2021-11-01,1.0,1,0.467250,0,1,0
155,RU000A0ZYR91,GOTRL 5.150 01/18/33 FRN PUT,8.314,1.000000e+10,9.0,6,1,2021-05-01,1.0,1,0.449584,0,1,0
66,RU000A0ZYR91,GOTRL 4.900 01/18/33 FRN PUT,8.810,1.000000e+10,9.0,6,1,2021-02-01,1.0,1,0.485847,0,1,0
352,RU000A0ZYR91,GTLK 7.400 01/18/33 FRN PUT,6.785,1.000000e+10,9.0,6,1,2021-12-01,1.0,1,0.591509,0,1,0
296,RU000A0ZYR91,GTLK 6.150 01/18/33 FRN PUT,7.366,1.000000e+10,9.0,6,1,2021-10-01,1.0,1,0.479422,0,1,0
126,RU000A0ZYR91,GOTRL 4.900 01/18/33 FRN PUT,8.493,1.000000e+10,9.0,6,1,2021-04-01,1.0,1,0.483060,0,1,0
183,RU000A0ZYR91,GOTRL 5.150 01/18/33 FRN PUT,8.141,1.000000e+10,9.0,6,1,2021-06-01,1.0,1,0.480753,0,1,0
353,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.480,1.000000e+10,9.0,6,1,2021-12-01,1.0,1,0.460881,0,1,0
297,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.727,1.000000e+10,9.0,6,1,2021-10-01,1.0,1,0.441924,0,1,0
325,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.595,1.000000e+10,9.0,6,1,2021-11-01,1.0,1,0.447025,0,1,0
184,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,7.831,1.000000e+10,9.0,6,1,2021-06-01,1.0,1,0.490409,0,1,0
269,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.711,1.000000e+10,9.0,6,1,2021-09-01,1.0,1,0.464352,0,1,0
243,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,7.799,1.000000e+10,9.0,6,1,2021-08-01,1.0,1,0.463155,0,1,0
215,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,7.854,1.000000e+10,9.0,6,1,2021-07-01,1.0,1,0.438688,0,1,0
156,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,7.933,1.000000e+10,9.0,6,1,2021-05-01,1.0,1,0.508524,0,1,0
127,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,8.002,1.000000e+10,9.0,6,1,2021-04-01,1.0,1,0.507944,0,1,0
99,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,7.953,1.000000e+10,9.0,6,1,2021-03-01,1.0,1,0.566832,0,1,0
68,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,8.103,1.000000e+10,9.0,6,1,2021-02-01,1.0,1,0.565490,0,1,0
41,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,8.156,1.000000e+10,9.0,6,1,2021-01-01,1.0,1,0.564734,0,1,0
16,RU000A0ZZ1J8,GOTRL 7.350 03/18/33 PUT,8.088,1.000000e+10,9.0,6,1,2020-12-01,1.0,1,0.578391,0,1,0
380,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.503,1.000000e+10,9.0,6,1,2022-01-01,1.0,1,0.484732,0,1,0
321,RU000A103RD6,FASPM 8.000 11/15/24,2.699,1.000000e+10,7.0,7,2,2021-11-01,1.0,0,0.437012,0,1,0
349,RU000A103RD6,FASPM 8.000 11/15/24,2.635,1.000000e+10,7.0,7,2,2021-12-01,1.0,0,0.357344,0,1,0
376,RU000A103RD6,FASPM 8.000 11/15/24,2.536,1.000000e+10,7.0,7,2,2022-01-01,1.0,0,0.387168,0,1,0
293,RU000A103RD6,FASPM 8.000 11/15/24,2.768,1.000000e+10,7.0,7,2,2021-10-01,1.0,0,0.458417,0,1,0

In [14]:
combined_data.loc[(combined_data['Rating'] > 5.5)&(combined_data['Listing'] > 1.5)&(combined_data['Duration'] <= 2.012)&(combined_data['Liquidity'] > 0.242)&(combined_data['Duration'] > 1.115)&(combined_data['Amount'] <= 12500000256)&(combined_data['Index'] == 'RU000A0JTLL9')].sort_values('Date').reset_index()

,index,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
0,23,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.924,5.000000e+09,8.0,6,1,2020-12-01,2.0,1,0.412047,0,1,0
1,50,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.831,5.000000e+09,7.0,6,2,2021-01-01,2.0,1,0.465442,0,1,0
2,78,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.839,5.000000e+09,8.0,6,1,2021-02-01,2.0,1,0.469726,0,1,0
3,109,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.755,5.000000e+09,7.0,6,2,2021-03-01,2.0,1,0.263076,0,1,0
4,137,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.658,5.000000e+09,7.0,6,2,2021-04-01,2.0,1,0.386219,0,1,0
5,166,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.589,5.000000e+09,7.0,6,2,2021-05-01,2.0,1,0.450325,0,1,0
6,194,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.506,5.000000e+09,8.0,6,1,2021-06-01,2.0,1,0.263790,0,1,0
7,224,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.416,5.000000e+09,8.0,6,1,2021-07-01,2.0,1,0.245140,0,1,0
8,251,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.384,5.000000e+09,7.0,6,2,2021-08-01,2.0,1,0.426755,0,1,0
9,305,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.214,5.000000e+09,7.0,7,2,2021-10-01,2.0,1,0.298697,0,1,0
10,333,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,1.123,5.000000e+09,8.0,7,1,2021-11-01,2.0,1,0.271899,0,1,0

In [13]:
y = combined_data['Echelon'].values

In [14]:
# –°–∫–æ–ª—å–∫–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∫–ª–∞—Å—Å–µ
for i in range(1, 4):
    print(np.count_nonzero(y == i))

191
180
20

<b>–ú–∞–ª–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –∏–∑ 3 –∫–ª–∞—Å—Å–∞, —Å–¥–µ–ª–∞–µ–º –æ–≤–µ—Ä—Å–µ–º–ø–ª–∏–Ω–≥</b>

In [15]:
from imblearn.over_sampling import SMOTE

In [16]:
## –î–µ–ª–∞–µ–º –æ–≤–µ—Ä—Å–µ–º–ø–ª–∏–Ω–≥ —Ç–æ–ª—å–∫–æ —Ç—Ä–µ–π–Ω –¥–∞–Ω–Ω—ã—Ö
# –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (–¥–∏—Å–∫—Ä–µ—Ç–Ω—ã—Ö)
discrete_cols = ['Rating', 'Listing']

# –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
continuous_cols = ['Duration', 'Amount', 'Liquidity']

# –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ X –∏ —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π y
X = combined_data[['Duration', 'Amount', 'Rating', 'Listing', 'Liquidity']]
y = combined_data['Echelon']

# –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∏–Ω–¥–µ–∫—Å–æ–≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è SMOTENC
categorical_feature_indices = [X.columns.get_loc(col) for col in discrete_cols]

# –ü—Ä–∏–º–µ–Ω–µ–Ω–∏–µ SMOTENC –¥–ª—è –æ–≤–µ—Ä—Å–µ–º–ø–ª–∏–Ω–≥–∞ –∫–∞–∫ –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã—Ö, —Ç–∞–∫ –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
smotenc = SMOTENC(categorical_features=categorical_feature_indices, random_state=42)
X_resampled, y_resampled = smotenc.fit_resample(X, y)

X_resampled = X_resampled.values
y_resampled = y_resampled.values

In [17]:
X_resampled

array([[2.77000000e-01, 5.00000000e+09, 7.00000000e+00, 3.00000000e+00,
        2.47987315e-01],
       [4.21400000e+00, 5.00000000e+09, 6.00000000e+00, 3.00000000e+00,
        5.06778419e-01],
       [1.22600000e+00, 5.00000000e+09, 4.00000000e+00, 3.00000000e+00,
        4.79351197e-01],
       ...,
       [2.32000000e+00, 6.00000000e+09, 3.00000000e+00, 3.00000000e+00,
        5.58611781e-01],
       [2.25920868e+00, 4.79356765e+09, 3.00000000e+00, 3.00000000e+00,
        5.18303502e-01],
       [4.69373495e+00, 1.00000000e+10, 3.00000000e+00, 2.00000000e+00,
        7.08158318e-01]])

In [18]:
np.count_nonzero(y_resampled == 1)

191

In [19]:
# –°–∫–æ–ª—å–∫–æ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∫–ª–∞—Å—Å–µ
for i in range(1, 4):
    print(np.count_nonzero(y_resampled == i))

191
191
191

In [20]:
# 'Duration', 'Amount', 'Rating', 'Listing', 'Liquidity'
for depth in range(1, 15):
    X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=30)
    clf = DecisionTreeClassifier(random_state=18, max_depth=depth)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(accuracy)
    feature_importances = clf.feature_importances_
    print('–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:')
    print(feature_importances)

0.6173913043478261
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0. 0. 1. 0. 0.]
0.8608695652173913
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.01973396 0.         0.98026604 0.         0.        ]
0.8695652173913043
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.02032169 0.00847929 0.90295029 0.05983656 0.00841217]
0.9304347826086956
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.10969072 0.0076623  0.81903647 0.05407126 0.00953925]
0.9304347826086956
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.12335505 0.00716693 0.76608493 0.05057549 0.0528176 ]
0.9304347826086956
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13752263 0.00694329 0.75536734 0.04899731 0.05116944]
0.9304347826086956
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13497765 0.01924811 0.74138863 0.04809057 0.05629503]
0.9391304347826087
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13297384 0.01896237 0.73038234 0.04737664 0.07030481]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13797531 0.01874288 0.72192835 0.04682827 0.0745252 ]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13706407 0.0186191  0.71716047 0.046519   0.08063737]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13662238 0.0185591  0.72016653 0.04636909 0.0782829 ]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.1360961  0.02233969 0.71739239 0.04619047 0.07798135]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.13589366 0.02230646 0.7163253  0.04612177 0.07935281]
0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.14086339 0.02217817 0.70694718 0.04585651 0.08415475]

## –û–±—É—á–µ–Ω–∏–µ –æ–∫–æ–Ω—á–µ–Ω–æ, –≥–ª—É–±–∏–Ω–∞ –¥–µ—Ä–µ–≤–∞ = –Ω–µ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∞, –≤—Ä—É—á–Ω—É—é –æ—Ç—Å–µ—á–µ–º –Ω–µ–Ω—É–∂–Ω—ã–µ –≤–µ—Ç–≤–∏

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=30)
clf = DecisionTreeClassifier(random_state=18)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)
feature_importances = clf.feature_importances_
print('–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:')
print(feature_importances)

0.9217391304347826
–ó–Ω–∞—á–∏–º–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤:
[0.14367765 0.02210552 0.70463144 0.04570629 0.08387909]

In [30]:
cols = ['Duration', 'Amount', 'Rating', 'Listing', 'Liquidity']
test_df = pd.DataFrame(X_test, columns=cols)
test_df['y_real'] = y_test

In [32]:
test_df.to_excel('test_df.xlsx')

In [46]:
features = ['Duration', 'Amount', 'Rating', 'Listing', 'Liquidity']

In [47]:
import graphviz
# # –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
# clf = DecisionTreeClassifier(random_state=42, max_depth=7)
# clf.fit(df_train_important, y_train)

# –≠–∫—Å–ø–æ—Ä—Ç–∏—Ä—É–µ–º –¥–µ—Ä–µ–≤–æ –≤ —Ñ–æ—Ä–º–∞—Ç dot
dot_data = export_graphviz(clf, out_file=None, 
                           feature_names=features,   
                           class_names=['–≠—à–µ–ª–æ–Ω 1', '–≠—à–µ–ª–æ–Ω 2', '–≠—à–µ–ª–æ–Ω 3'], 
                           filled=True, rounded=True,  
                           special_characters=True)

# –ì–µ–Ω–µ—Ä–∏—Ä—É–µ–º –∏–∑–æ–±—Ä–∞–∂–µ–Ω–∏–µ –¥–µ—Ä–µ–≤–∞
graph = graphviz.Source(dot_data)
graph.render("–£–±—Ä–∞–Ω—ã –µ–≤—Ä–æ")  # –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –≤ —Ñ–∞–π–ª tree.pdf

# –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è
graph.view()

'–£–±—Ä–∞–Ω—ã –µ–≤—Ä–æ.pdf'

–ó–∞—Ç–µ—Å—Ç –Ω–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–π –¥–∞—Ç–µ

In [15]:
X = combined_data[combined_data['Date'] == '2022-01-01'][['Duration', 'Amount', 'Rating', 'Listing', 'Liquidity']].values
y = combined_data[combined_data['Date'] == '2022-01-01']['Echelon'].values

In [16]:
y_pred = clf.predict(X)
accuracy = accuracy_score(y, y_pred)
print(accuracy)

1.0

In [17]:
for i in range(len(y)):
    print(y[i], y_pred[i])

2 2
1 1
1 1
1 1
1 1
2 2
1 1
2 2
2 2
2 2
1 1
1 1
1 1
1 1
1 1
2 2
1 1
2 2
2 2
1 1
2 2
2 2
2 2
2 2
1 1
2 2
1 1
1 1
2 2
2 2
2 2
3 3
2 2
1 1
1 1
1 1
1 1
1 1
1 1
1 1
2 2
2 2
1 1
3 3
2 2
1 1
2 2
3 3
2 2
3 3
1 1

In [18]:
combined_data[combined_data['Date'] == '2022-01-01']

,Index,Description,Duration,Amount,TRPS,Rating,Echelon,Date,Listing,Lombard,Liquidity,EUR,RUB,USD
624,RU000A101616,FASPM 5.000 Perp '25,19.322,1.500000e+08,7.0,6,2,2022-01-01,3.0,0,0.456713,1,0,0
625,XS2159874002,LKOH 3.875 05/06/30,7.089,1.500000e+09,10.0,8,1,2022-01-01,3.0,0,0.524221,0,0,1
626,XS2134628069,MMCFN 2.550 09/11/25 '25,3.461,5.000000e+08,10.0,7,1,2022-01-01,3.0,0,0.460428,0,0,1
627,XS2291819980,GAZFI 2.950 01/27/29 MTN,6.252,2.000000e+09,10.0,8,1,2022-01-01,3.0,0,0.482264,0,0,1
628,XS0810596832,VTBR 9.500 Perp '22 FRN,0.853,2.250000e+09,10.0,7,1,2022-01-01,3.0,0,0.636351,0,0,1
629,XS2384475930,CBOMF 3.875 09/21/26 '26,4.224,5.000000e+08,9.0,5,2,2022-01-01,3.0,0,0.554729,0,0,1
630,XS1433454243,FLOT 5.375 06/16/23,1.365,4.984270e+08,10.0,7,1,2022-01-01,3.0,0,0.303208,0,0,1
631,XS1772800204,DMAIR 5.075 02/15/23 '22,0.792,2.047190e+08,10.0,5,2,2022-01-01,3.0,0,0.346649,0,0,1
632,XS2010044381,GTEPT 4.949 02/18/26,3.671,5.500000e+08,10.0,5,2,2022-01-01,3.0,1,0.460720,0,0,1
633,XS2063279959,ALFAB 5.950 04/15/30 '25 FRN,2.940,8.500000e+08,10.0,5,2,2022-01-01,3.0,0,0.518744,0,0,1
634,XS2124187571,GAZFI 3.250 02/25/30 MTN,7.038,2.000000e+09,10.0,8,1,2022-01-01,3.0,1,0.581981,0,0,1
635,XS0800817073,VEFNC 6.025 07/05/22,0.456,1.000000e+09,10.0,7,1,2022-01-01,3.0,1,0.435672,0,0,1
636,XS0830192711,STGPN 4.375 09/19/22 MTN,0.650,1.500000e+09,10.0,8,1,2022-01-01,3.0,1,0.467194,0,0,1
637,XS0861981180,ROSNI 4.199 03/06/22 MTN,0.125,2.000000e+09,10.0,7,1,2022-01-01,3.0,1,0.601478,0,0,1
638,XS0743596040,STSBC 6.125 02/07/22 MTN,0.044,1.500000e+09,10.0,7,1,2022-01-01,3.0,1,0.344136,0,0,1
639,XS1634369067,BYGV 6.875 02/28/23,1.053,8.000000e+08,10.0,2,2,2022-01-01,3.0,0,0.330066,0,0,1
640,XS2243631095,GAZFI 4.599 Perp '25 FRN,3.417,1.400000e+09,9.0,6,1,2022-01-01,3.0,0,0.419911,0,0,1
641,XS1951067039,CBOMF 5.150 02/20/24,1.941,3.272280e+08,10.0,5,2,2022-01-01,3.0,0,0.424987,1,0,0
642,XS2099763075,CBOMF 4.700 01/29/25,2.784,5.410000e+08,10.0,5,2,2022-01-01,3.0,0,0.423480,0,0,1
643,XS1533915721,EVRE 5.375 03/20/23,1.126,7.500000e+08,10.0,6,1,2022-01-01,3.0,0,0.425870,0,0,1
644,RU000A0JWV63,FASPM 14.250 Perp '26,3.513,5.000000e+09,6.0,6,2,2022-01-01,3.0,0,0.448928,0,1,0
645,RU000A0JVUK8,AFKS 9.750 09/30/25 PUT,0.213,5.000000e+09,9.0,5,2,2022-01-01,3.0,1,0.411690,0,1,0
646,RU000A0JWYQ5,AFKS 6.350 10/30/26 PUT,4.122,6.500000e+09,9.0,5,2,2022-01-01,3.0,1,0.471549,0,1,0
647,RU000A100V79,TCSX 8.250 09/12/29 PUT,5.651,1.000000e+10,9.0,5,2,2022-01-01,1.0,0,0.579991,0,1,0
648,RU000A0JXVE5,SVYIN 8.900 07/05/22,0.455,2.000000e+10,9.0,6,1,2022-01-01,3.0,0,0.454759,0,1,0
649,RU000A0JX2F6,ROSB 6.550 12/20/26 PUT,0.909,5.000000e+09,7.0,7,2,2022-01-01,2.0,1,0.256346,0,1,0
650,RU000A0JTM36,BANE 5.500 01/31/23 PUT,0.993,1.000000e+10,9.0,7,1,2022-01-01,1.0,1,0.508597,0,1,0
651,RU000A0JTM51,BANE 5.500 01/31/23 PUT,0.990,5.000000e+09,9.0,7,1,2022-01-01,1.0,1,0.528642,0,1,0
652,RU000A1023K1,AFKS 6.700 08/26/30 PUT,6.395,1.000000e+10,9.0,5,2,2022-01-01,1.0,1,0.476500,0,1,0
653,RU000A102GY7,HEDTR 6.450 12/11/23,1.782,4.000000e+09,7.0,6,2,2022-01-01,3.0,0,0.450175,0,1,0
654,RU000A102RF3,PPFGP 6.850 02/06/26 PUT,1.911,5.000000e+09,8.0,5,2,2022-01-01,1.0,0,0.501115,0,1,0
655,RU000A103QH9,ETALO 9.100 09/15/26,3.094,1.000000e+10,6.0,1,3,2022-01-01,2.0,0,0.483104,0,1,0
656,RU000A103RD6,FASPM 8.000 11/15/24,2.536,1.000000e+10,7.0,7,2,2022-01-01,1.0,0,0.387168,0,1,0
657,RU000A0JW1P8,GTLK 6.890 12/16/25 PUT,0.897,4.000000e+09,8.0,6,1,2022-01-01,1.0,1,0.485187,0,1,0
658,RU000A0ZYNY4,GTLK 9.250 12/31/32 FRN PUT,6.781,1.000000e+10,8.0,6,1,2022-01-01,1.0,1,0.517356,0,1,0
659,RU000A0ZYR91,GTLK 7.400 01/18/33 FRN PUT,6.531,1.000000e+10,9.0,6,1,2022-01-01,1.0,1,0.587671,0,1,0
660,RU000A0ZZ1J8,GTLK 7.350 03/18/33 PUT,7.503,1.000000e+10,9.0,6,1,2022-01-01,1.0,1,0.484732,0,1,0
661,RU000A0JVA10,GTLK 7.980 03/06/25 PUT,1.537,5.000000e+09,8.0,6,1,2022-01-01,1.0,1,0.421349,0,1,0
662,RU000A0JVVA7,FASPM 12.500 10/13/22,0.697,9.000000e+09,8.0,8,1,2022-01-01,1.0,1,0.457206,0,1,0
663,RU000A0JTVJ2,FASPM 8.300 04/11/23 PUT,0.230,1.000000e+10,8.0,6,1,2022-01-01,2.0,1,0.364815,0,1,0
664,RU000A100VX2,INOFC 7.900 09/26/29 PUT,5.694,7.000000e+09,6.0,7,2,2022-01-01,3.0,0,0.402436,0,1,0
665,RU000A101D13,AFKS 7.100 01/26/23,0.965,1.000000e+10,8.0,5,2,2022-01-01,2.0,0,0.606872,0,1,0
666,RU000A0JX1S1,ROSSI 6.650 11/27/31 PUT,0.879,1.500000e+10,9.0,8,1,2022-01-01,3.0,1,0.506757,0,1,0
667,RU000A101KK0,FASPM 6.750 03/26/24 PUT,2.018,6.500000e+09,7.0,8,3,2022-01-01,3.0,0,0.472711,0,1,0
668,RU000A101S81,UNCRS 6.500 05/28/30 PUT,6.393,1.000000e+10,7.0,4,2,2022-01-01,2.0,0,0.492488,0,1,0
669,RU000A0JTLJ3,USMHD 7.650 01/27/23 PUT,0.961,5.000000e+09,8.0,7,1,2022-01-01,2.0,1,0.353016,0,1,0
670,RU000A0JTLL9,USMHD 7.650 01/27/23 PUT,0.961,5.000000e+09,7.0,7,2,2022-01-01,2.0,1,0.240876,0,1,0
671,RU000A102Y58,BRSSD 9.600 04/01/24,1.995,6.000000e+09,7.0,3,3,2022-01-01,3.0,0,0.494870,0,1,0
672,RU000A0JS603,VNESH 6.250 08/11/22 PUT,0.541,5.000000e+09,8.0,3,2,2022-01-01,3.0,1,0.436158,0,1,0
673,RU000A0JXSF8,TRMK 7.600 05/21/27 PUT,4.420,1.000000e+10,7.0,3,3,2022-01-01,2.0,0,0.437358,0,1,0
674,RU000A102CL3,RUGV 1.850 11/20/32,9.885,1.250000e+09,9.0,7,1,2022-01-01,1.0,0,0.395909,1,0,0

# –ó–∞–ø—Ä–æ—Å—ã –ø–æ API

In [2]:
import requests
import xml.etree.ElementTree as ET

In [3]:
# –î–æ—Å—Ç–∞–µ–º isin –æ–±–ª–∏–≥–∞—Ü–∏–π –∏–∑ –ø–æ—Ä—Ç—Ñ–µ–ª—è
df_isin = pd.read_excel("sec_011024.xlsx")

In [7]:
isin_list = df_isin['ISIN'].tolist()
# –ë—É–∫–∞–≤—ã —Ä–µ–π—Ç–∏–Ω–≥ –º–µ–Ω—è–µ–º –Ω–∞ –º–∞—à–∏–Ω–∞ –ø–æ–Ω–∏–º–∞—Ç—å —è–∑—ã–∫
replacement_dict = {
    'NR': 0,
    'B-': 1,
    'B': 2,
    'B+': 3,
    'BB-': 4,
    'BB': 5,
    'BB+': 6,
    'BBB-': 7,
    'BBB': 8,
    'BBB+': 9,
    'A-': 10
}
df_isin['–†–µ–π—Ç–∏–Ω–≥'] = df_isin['–†–µ–π—Ç–∏–Ω–≥'].replace(replacement_dict)

In [8]:
set(df_isin['Currency'])

{'AED', 'CNY', 'EUR', 'RUB', 'USD'}

In [10]:
df_isin

             ISIN  Duration Currency –†–µ–π—Ç–∏–Ω–≥  Amount Outstanding
0    RU000A102CL3  6.676644      EUR       8          1250000000
1    RU000A102CL3  6.676644      EUR       8          1250000000
2    RU000A106V57  0.874183      AED       5           370000000
3    RU000A1080Z9  1.160000      CNY       3           160289000
4    RU000A1082Q4  0.015631      USD       7          1676729000
..            ...       ...      ...     ...                 ...
110  RU000A107DS5  0.500000      RUB       7          5500000000
111  RU000A107EA1  0.500000      RUB       7         10000000000
112  RU000A107UX9  0.246575      RUB       7         20000000000
113  RU000A108P46  0.082192      RUB       5          6000000000
114  RU000A108Y86  0.082192      RUB       6         12000000000

[115 rows x 5 columns]

In [11]:
isin_list

['RU000A102CL3',
 'RU000A102CL3',
 'RU000A106V57',
 'RU000A1080Z9',
 'RU000A1082Q4',
 'RU000A108Q29',
 'XS2120091991',
 'RU000A102K96',
 'RU000A105KU0',
 'RU000A107AQ5',
 'RU000A107B43',
 'RU000A107CX7',
 'RU000A1059R0',
 'RU000A105M75',
 'RU000A1086M4',
 'RU000A107VV1',
 'XS2281299763',
 'RU000A101616',
 'RU000A106V57',
 'XS2010040397',
 'RU000A1086Z6',
 'RU000A107X96',
 'RU000A107XA1',
 'RU000A107AU7',
 'RU000A106LL5',
 'RU000A108KT6',
 'RU000A109KT4',
 'RU000A108P46',
 'RU000A106EM8',
 'RU000A105WC3',
 'RU000A105XE7',
 'RU000A105X80',
 'RU000A107605',
 'RU000A107HH9',
 'RU000A107UX9',
 'RU000A109B33',
 'RU000A107050',
 'RU000A107084',
 'RU000A107ET1',
 'RU000A108JV4',
 'RU000A0ZYR91',
 'RU000A105KW6',
 'RU000A1064L3',
 'RU000A107EA1',
 'RU000A106F40',
 'RU000A108Y86',
 'RU000A107DS5',
 'RU000A108Q03',
 'RU000A1083W0',
 'RU000A1078S8',
 'RU000A107456',
 'RU000A1083A6',
 'RU000A109DT9',
 'RU000A101780',
 'RU000A101T56',
 'RU000A101UE2',
 'RU000A1077V4',
 'RU000A108ZT4',
 'RU000A107RZ0',
 'RU000A1095L7',
 'RU000A104JQ3',
 'RU000A1053P7',
 'RU000A105SP3',
 'RU000A106Z46',
 'RU000A107SM6',
 'RU000A108GL1',
 'RU000A1008J4',
 'RU000A105L27',
 'RU000A107GX8',
 'RU000A107TK8',
 'RU000A105VU7',
 'RU000A103QH9',
 'RU000A106EM8',
 'RU000A0JWV63',
 'RU000A1056S4',
 'RU000A109KT4',
 'RU000A0JS3W6',
 'RU000A0JVW48',
 'RU000A0ZYUA9',
 'RU000A101QE0',
 'RU000A1038Z7',
 'RU000A103BR0',
 'RU000A105RV3',
 'RU000A106E90',
 'RU000A108EF8',
 'RU000A106Z61',
 'RU000A108EE1',
 'RU000A0JTK38',
 'RU000A0ZYUB7',
 'RU000A0ZZYW2',
 'RU000A100A82',
 'RU000A100EF5',
 'RU000A103BR0',
 'RU000A0JV4M0',
 'RU000A1038V6',
 'RU000A104YT6',
 'RU000A105KU0',
 'RU000A105RG4',
 'RU000A105R62',
 'RU000A0JWZY6',
 'RU000A0JVA10',
 'RU000A0JX1S1',
 'RU000A101137',
 'RU000A102DB2',
 'RU000A0JS3W6',
 'RU000A0JTK38',
 'RU000A100A82',
 'RU000A102CR0',
 'RU000A1038V6',
 'RU000A105VU7',
 'RU000A107DS5',
 'RU000A107EA1',
 'RU000A107UX9',
 'RU000A108P46',
 'RU000A108Y86']

In [12]:
def currency_exc(date_from, date_till):
    data = []
    
    # –°–ª–æ–≤–∞—Ä—å —Å –∫–æ–¥–∞–º–∏ –≤–∞–ª—é—Ç
    currency_codes = {
        'USD': 'R01235',
        'EUR': 'R01239',
        'AED': 'R01230',
        'CNY': 'R01375'
        # –î–æ–±–∞–≤—å—Ç–µ –¥—Ä—É–≥–∏–µ –≤–∞–ª—é—Ç—ã –ø–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏
    }
    
    # –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä–æ–∫ —Å –¥–∞—Ç–∞–º–∏ –≤ —Ñ–æ—Ä–º–∞—Ç 'dd/mm/yyyy'
    date_from_str = datetime.strptime(date_from, '%Y-%m-%d').strftime('%d/%m/%Y')
    date_till_str = datetime.strptime(date_till, '%Y-%m-%d').strftime('%d/%m/%Y')
    
    for char_code, iso_code in currency_codes.items():
        # –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ URL –¥–ª—è –∑–∞–ø—Ä–æ—Å–∞
        url = f'https://www.cbr.ru/scripts/XML_dynamic.asp?date_req1={date_from_str}&date_req2={date_till_str}&VAL_NM_RQ={iso_code}'

        # –ó–∞–ø—Ä–æ—Å –¥–∞–Ω–Ω—ã—Ö
        response = requests.get(url)
        if response.status_code != 200:
            print(f"–û—à–∏–±–∫–∞ –ø—Ä–∏ –∑–∞–ø—Ä–æ—Å–µ –¥–∞–Ω–Ω—ã—Ö –¥–ª—è {char_code}: {response.status_code}")
            continue

        # –ü–∞—Ä—Å–∏–Ω–≥ XML-–æ—Ç–≤–µ—Ç–∞
        root = ET.fromstring(response.content)
        for record in root.findall('Record'):
            date = record.attrib['Date']
            value = record.find('Value').text
            nominal = int(record.find('Nominal').text)
            rate = float(value.replace(',', '.')) / nominal
            data.append({
                'Date': datetime.strptime(date, '%d.%m.%Y').date(),
                'Currency': char_code,
                'Rate': rate
            })

    # –°–æ–∑–¥–∞–Ω–∏–µ DataFrame
    df = pd.DataFrame(data)

    # –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –¥–∞—Ç
    date_from_obj = datetime.strptime(date_from, '%Y-%m-%d').date()
    date_till_obj = datetime.strptime(date_till, '%Y-%m-%d').date()
    all_dates = pd.date_range(start=date_from_obj, end=date_till_obj)

    full_df = pd.DataFrame()

    for currency in currency_codes.keys():
        currency_df = df[df['Currency'] == currency]
        currency_df = currency_df.set_index('Date').reindex(all_dates).fillna(method='ffill').reset_index()
        currency_df['Currency'] = currency
        full_df = pd.concat([full_df, currency_df])

    # –ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –ø–æ—Å–ª–µ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏—è
    full_df.columns = ['Date', 'Currency', 'Rate']
    full_df = full_df[['Date', 'Currency', 'Rate']]

    # –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–∞ 'Date' –≤ —Ç–∏–ø datetime.date
    full_df['Date'] = full_df['Date'].apply(lambda x: x.date())

    return full_df

In [13]:
# –°–æ–∑–¥–∞–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∫—É—Ä—Å–æ–≤ –≤–∞–ª—é—Ç –ø–æ –¥–∞—Ç–∞–º –ù–£–ñ–ù–û 30 –î–ù–ï–ô
date_from = '2024-08-20'
date_till = '2024-09-30'
df_currency = currency_exc(date_from, date_till)

In [14]:
df_currency.head()

         Date Currency     Rate
0  2024-08-20      USD  89.5428
1  2024-08-21      USD  90.6944
2  2024-08-22      USD  91.6862
3  2024-08-23      USD  91.2881
4  2024-08-24      USD  91.6012

## –ü–æ–¥—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ –æ–±—ä–µ–º–∞ –∏ –∫–æ–ª-–≤–∞ —Å–¥–µ–ª–æ–∫ –¥–ª—è –∫–∞–∂–¥–æ–π –±—É–º–∞–≥–∏

In [15]:
value_list = []
num_trades_list = []
listing_list = []

for isin in isin_list:
    # isin = 'RU000A102CL3'
    print(isin)
    url_isin = f'https://iss.moex.com/iss/securities?q={isin}&securities.columns=secid'
    # –û—Ç–ø—Ä–∞–≤–∫–∞ GET-–∑–∞–ø—Ä–æ—Å–∞ —á—Ç–æ–±—ã –≤—ã—Ç–∞—â–∏—Ç—å secid
    response_isin = requests.get(url_isin)
    time.sleep(1)
    try:
        if response_isin.status_code == 200:
            data_secid = pd.read_xml(response_isin.content, xpath=".//rows/row")
            secid = data_secid.iloc[0]['secid']
            isin = secid
            print(isin)
        else:
            print(f"–û—à–∏–±–∫–∞ –ø—Ä–∏ –¥–æ—Å—Ç—É–ø–µ –∫ API MOEX: {url_isin}")
    except:
        print(f'–ù–µ—Ç secid –¥–ª—è isin')
    # URL –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –ø–æ –æ–±–ª–∏–≥–∞—Ü–∏—è–º, –∫–æ—Ç–∏—Ä—É–µ–º—ã–º –Ω–∞ MOEX
    url = f'https://iss.moex.com/iss/history/engines/stock/markets/bonds/securities/{isin}?from={date_from}&till={date_till}&sort_order=desc&iss.only=history'
    url_listing = f'https://iss.moex.com/iss/engines/stock/markets/bonds/securities/{isin}?securities.columns=SECID,LISTLEVEL&iss.only=securities&iss.only=history'
    # –û—Ç–ø—Ä–∞–≤–∫–∞ GET-–∑–∞–ø—Ä–æ—Å–∞ –∫ API MOEX
    response = requests.get(url)
    time.sleep(1)
    # –ü–µ—Ä–µ–º–µ–Ω–Ω—ã–µ –¥–ª—è —Å—É–º–º –æ–±—ä–µ–º–æ–≤
    value_sum = 0
    num_trades_sum = 0
    try:
        # –ü—Ä–æ–≤–µ—Ä–∫–∞ —Å—Ç–∞—Ç—É—Å–∞ –æ—Ç–≤–µ—Ç–∞
        if response.status_code == 200:
            # –ü–∞—Ä—Å–∏–Ω–≥ XML
            df = pd.read_xml(response.content, xpath=".//rows/row") 
            df = df[['TRADEDATE', 'BOARDID', 'VALUE', 'VOLUME', 'WAPRICE', 'FACEUNIT', 'CURRENCYID', 'FACEVALUE', 'NUMTRADES']]

            # –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ç–æ—Ä–≥–æ–≤—ã—Ö –¥–Ω–µ–π
            days = df['TRADEDATE'].nunique()

            # –£–¥–∞–ª—è—é—Ç—Å—è –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, –≤ —Å—Ç–æ–ª–±—Ü–µ 'VALUE' –∫–æ—Ç–æ—Ä—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è —Ä–∞–≤–Ω—ã 0 –ª–∏–±–æ Nan
            mask = ((df['VALUE'] == 0) | df['VALUE'].isna())
            df = df[~mask]

            # –ü—Ä–æ–±–µ–≥–∞–µ–º—Å—è –ø–æ —Å—Ç—Ä–æ–∫–∞–º, —Å–∫–ª–∞–¥—ã–≤–∞–µ–º VALUE*–≤–∞–ª—é—Ç–∞ —Ä–∞—Å—á–µ—Ç–∞
            for index, row in df.iterrows():
                # –∫—É—Ä—Å –≤–∞–ª—é—Ç—ã —Å—Ç—Ä–æ–∫–∏ –∫ —Ä—É–±–ª—é
                date = datetime.strptime(row['TRADEDATE'], '%Y-%m-%d').date()

                if row['CURRENCYID'] == 'SUR' or row['CURRENCYID'] == 'RUR' or row['CURRENCYID'] == 'RUB':
                    currency = 1
                else:
                    # –∏—â–µ–º —Å—Ç—Ä–æ–∫—É —Å –∫—É—Ä—Å–æ–º
                    result = df_currency.loc[(df_currency['Date'] == date) & (df_currency['Currency'] == row['CURRENCYID'])]
                    if not result.empty:
                        currency = result.iloc[0]['Rate']
#                         print(f"\n–ö—É—Ä—Å {row['CURRENCYID']} –Ω–∞ {date}: {currency}")
                    else:
                        print(f"\n–ó–∞–ø–∏—Å—å –Ω–µ –Ω–∞–π–¥–µ–Ω–∞ {row['CURRENCYID']} –Ω–∞ {date}")

                # —É–º–Ω–æ–∂–∞–µ–º –æ–±—ä–µ–º –Ω–∞ –∫—É—Ä—Å
                value_row = row['VALUE'] * currency
                value_sum += value_row
                num_trades_sum += row['NUMTRADES']

            value_list.append(value_sum/days)
            num_trades_list.append(num_trades_sum/days)
        else:
            print(f"–û—à–∏–±–∫–∞ –ø—Ä–∏ –¥–æ—Å—Ç—É–ø–µ –∫ API MOEX: {url}")
    except:
        value_list.append(0)
        num_trades_list.append(0)
        print(f"–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö —Ç–æ—Ä–≥–æ–≤ –¥–ª—è ISIN: {isin}")

    # –û—Ç–ø—Ä–∞–≤–∫–∞ GET-–∑–∞–ø—Ä–æ—Å–∞ –∫ API MOEX
    response_listing = requests.get(url_listing)
    time.sleep(1)

    try:
        # –ü—Ä–æ–≤–µ—Ä–∫–∞ —Å—Ç–∞—Ç—É—Å–∞ –æ—Ç–≤–µ—Ç–∞
        if response_listing.status_code == 200:
            # –ü–∞—Ä—Å–∏–Ω–≥ XML
            data_listing = pd.read_xml(response_listing.content, xpath=".//rows/row")
            listing_rank = data_listing.iloc[0]['LISTLEVEL']
            listing_list.append(listing_rank)
            print(listing_rank)
        else:
            print(f"–û—à–∏–±–∫–∞ –ø—Ä–∏ –¥–æ—Å—Ç—É–ø–µ –∫ API MOEX: {url_listing}")
    except:
        listing_rank = 4
        listing_list.append(listing_rank)
        print(f"–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –ª–∏—Å—Ç–∏–Ω–≥–∞ –¥–ª—è ISIN: {isin}")

RU000A102CL3
RU000A102CL3
1.0
RU000A102CL3
RU000A102CL3
1.0
RU000A106V57
RU000A106V57
2.0
RU000A1080Z9
RU000A1080Z9
3.0
RU000A1082Q4
RU000A1082Q4
3.0
RU000A108Q29
RU000A108Q29
3.0
XS2120091991
XS2120091991
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö —Ç–æ—Ä–≥–æ–≤ –¥–ª—è ISIN: XS2120091991
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –ª–∏—Å—Ç–∏–Ω–≥–∞ –¥–ª—è ISIN: XS2120091991
RU000A102K96
RU000A102K96
1.0
RU000A105KU0
RU000A105KU0
3.0
RU000A107AQ5
RU000A107AQ5
3.0
RU000A107B43
RU000A107B43
3.0
RU000A107CX7
RU000A107CX7
3.0
RU000A1059R0
RU000A1059R0
3.0
RU000A105M75
RU000A105M75
3.0
RU000A1086M4
RU000A1086M4
3.0
RU000A107VV1
RU000A107VV1
3.0
XS2281299763
XS2281299763
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö —Ç–æ—Ä–≥–æ–≤ –¥–ª—è ISIN: XS2281299763
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –ª–∏—Å—Ç–∏–Ω–≥–∞ –¥–ª—è ISIN: XS2281299763
RU000A101616
RU000A101616
3.0
RU000A106V57
RU000A106V57
2.0
XS2010040397
XS2010040397
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –ª–∏—Å—Ç–∏–Ω–≥–∞ –¥–ª—è ISIN: XS2010040397
RU000A1086Z6
RU000A1086Z6
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö —Ç–æ—Ä–≥–æ–≤ –¥–ª—è ISIN: RU000A1086Z6
–ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –ª–∏—Å—Ç–∏–Ω–≥–∞ –¥–ª—è ISIN: RU000A1086Z6
RU000A107X96
RU000A107X96
3.0
RU000A107XA1
RU000A107XA1
3.0
RU000A107AU7
RU000A107AU7
3.0
RU000A106LL5
RU000A106LL5
3.0
RU000A108KT6
RU000A108KT6
3.0
RU000A109KT4
RU000A109KT4
3.0
RU000A108P46
RU000A108P46
2.0
RU000A106EM8
RU000A106EM8
2.0
RU000A105WC3
RU000A105WC3
3.0
RU000A105XE7
RU000A105XE7
3.0
RU000A105X80
RU000A105X80
3.0
RU000A107605
RU000A107605
3.0
RU000A107HH9
RU000A107HH9
3.0
RU000A107UX9
RU000A107UX9
3.0
RU000A109B33
RU000A109B33
3.0
RU000A107050
RU000A107050
2.0
RU000A107084
RU000A107084
2.0
RU000A107ET1
RU000A107ET1
2.0
RU000A108JV4
RU000A108JV4
2.0
RU000A0ZYR91
RU000A0ZYR91
1.0
RU000A105KW6
RU000A105KW6
1.0
RU000A1064L3
RU000A1064L3
1.0
RU000A107EA1
RU000A107EA1
1.0
RU000A106F40
RU000A106F40
1.0
RU000A108Y86
RU000A108Y86
1.0
RU000A107DS5
RU000A107DS5
3.0
RU000A108Q03
RU000A108Q03
3.0
RU000A1083W0
RU000A1083W0
1.0
RU000A1078S8
RU000A1078S8
1.0
RU000A107456
RU000A107456
3.0
RU000A1083A6
RU000A1083A6
2.0
RU000A109DT9
RU000A109DT9
3.0
RU000A101780
RU000A101780
2.0
RU000A101T56
RU000A101T56
2.0
RU000A101UE2
RU000A101UE2
2.0
RU000A1077V4
RU000A1077V4
3.0
RU000A108ZT4
RU000A108ZT4
3.0
RU000A107RZ0
RU000A107RZ0
1.0
RU000A1095L7
RU000A1095L7
1.0
RU000A104JQ3
RU000A104JQ3
1.0
RU000A1053P7
RU000A1053P7
3.0
RU000A105SP3
RU000A105SP3
3.0
RU000A106Z46
RU000A106Z46
1.0
RU000A107SM6
RU000A107SM6
1.0
RU000A108GL1
RU000A108GL1
1.0
RU000A1008J4
RU000A1008J4
1.0
RU000A105L27
RU000A105L27
1.0
RU000A107GX8
RU000A107GX8
1.0
RU000A107TK8
RU000A107TK8
1.0
RU000A105VU7
RU000A105VU7
2.0
RU000A103QH9
RU000A103QH9
2.0
RU000A106EM8
RU000A106EM8
2.0
RU000A0JWV63
RU000A0JWV63
3.0
RU000A1056S4
RU000A1056S4
2.0
RU000A109KT4
RU000A109KT4
3.0
RU000A0JS3W6
SU26207RMFS9
1.0
RU000A0JVW48
SU26218RMFS6
1.0
RU000A0ZYUA9
SU26224RMFS4
1.0
RU000A101QE0
SU26234RMFS3
1.0
RU000A1038Z7
SU26237RMFS6
1.0
RU000A103BR0
SU26240RMFS0
1.0
RU000A105RV3
SU26242RMFS6
1.0
RU000A106E90
SU26243RMFS4
1.0
RU000A108EF8
SU26247RMFS5
1.0
RU000A106Z61
SU29025RMFS2
1.0
RU000A108EE1
SU26246RMFS7
1.0
RU000A0JTK38
SU26212RMFS9
1.0
RU000A0ZYUB7
SU26225RMFS1
1.0
RU000A0ZZYW2
SU26226RMFS9
1.0
RU000A100A82
SU26228RMFS5
1.0
RU000A100EF5
SU26230RMFS1
1.0
RU000A103BR0
SU26240RMFS0
1.0
RU000A0JV4M0
SU29007RMFS0
1.0
RU000A1038V6
SU26238RMFS4
1.0
RU000A104YT6
RU000A104YT6
1.0
RU000A105KU0
RU000A105KU0
3.0
RU000A105RG4
RU000A105RG4
3.0
RU000A105R62
RU000A105R62
3.0
RU000A0JWZY6
RU000A0JWZY6
1.0
RU000A0JVA10
RU000A0JVA10
1.0
RU000A0JX1S1
RU000A0JX1S1
3.0
RU000A101137
RU000A101137
3.0
RU000A102DB2
RU000A102DB2
1.0
RU000A0JS3W6
SU26207RMFS9
1.0
RU000A0JTK38
SU26212RMFS9
1.0
RU000A100A82
SU26228RMFS5
1.0
RU000A102CR0
RU000A102CR0
1.0
RU000A1038V6
SU26238RMFS4
1.0
RU000A105VU7
RU000A105VU7
2.0
RU000A107DS5
RU000A107DS5
3.0
RU000A107EA1
RU000A107EA1
1.0
RU000A107UX9
RU000A107UX9
3.0
RU000A108P46
RU000A108P46
2.0
RU000A108Y86
RU000A108Y86
1.0

In [16]:
df_isin['Value_avg'] = value_list
df_isin['Num_trades_avg'] = num_trades_list
df_isin['Listing'] = listing_list

In [17]:
df_isin.head()

,ISIN,Duration,Currency,–†–µ–π—Ç–∏–Ω–≥,Amount Outstanding,Value_avg,Num_trades_avg,Listing
0,RU000A102CL3,6.676644,EUR,8,1250000000,2.882338e+06,0.333333,1.0
1,RU000A102CL3,6.676644,EUR,8,1250000000,2.882338e+06,0.333333,1.0
2,RU000A106V57,0.874183,AED,5,370000000,3.039607e+04,1.066667,2.0
3,RU000A1080Z9,1.160000,CNY,3,160289000,1.787892e+06,59.933333,3.0
4,RU000A1082Q4,0.015631,USD,7,1676729000,4.296764e+07,154.200000,3.0

## –ü–æ–¥—Å—á–µ—Ç —Å—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–≥–æ –æ–±—ä–µ–º–∞ –∏ –∫–æ–ª-–≤–∞ —Å–¥–µ–ª–æ–∫ –ø–æ –≤—Å–µ–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º

In [18]:
# –°–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫ –¥–∞—Ç –º–µ–∂–¥—É from –∏ till
date_list = pd.date_range(start=date_from, end=date_till).strftime('%Y-%m-%d').tolist()
# –°–æ–∑–¥–∞–µ–º —Å–ø–∏—Å–æ–∫ –∏–Ω—Ç–µ—Ä–µ—Å—É—é—â–∏—Ö —Ä–µ–∂–∏–º–æ–≤ —Ç–æ—Ä–≥–æ–≤
boards_list = ['TQCB', 'TQOE', 'TQOD', 'TQOY']

In [34]:
# date = date_list[0]
# board = boards_list[2]
num_trades_all_list = []
value_all_list = []
for date in date_list:
    for board in boards_list:
        # –ë–∞–∑–æ–≤—ã–π URL –¥–ª—è –∑–∞–ø—Ä–æ—Å–∞
        base_url = f'https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/{board}/securities.xml'

        params = {
            'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID',
            'iss.only': 'history',
            'date': date,
            'start': 0
        }

        # –ß–∏—Ç–∞–µ–º 1 –¥–∞—Ç—É
        val_sum_day = 0
        num_trades_day = 0
        while True:
            # –û—Ç–ø—Ä–∞–≤–∫–∞ GET-–∑–∞–ø—Ä–æ—Å–∞ –∫ API MOEX
            response = requests.get(base_url, params=params)

            # –ü—Ä–æ–≤–µ—Ä–∫–∞ —Å—Ç–∞—Ç—É—Å–∞ –æ—Ç–≤–µ—Ç–∞
            if response.status_code == 200:
                try:
                    # –ü–∞—Ä—Å–∏–Ω–≥ XML
                    df = pd.read_xml(response.content, xpath=".//rows/row")

                    if df.empty:
                        break  # –ï—Å–ª–∏ –¥–∞–Ω–Ω—ã—Ö –±–æ–ª—å—à–µ –Ω–µ—Ç, –ø—Ä–µ–∫—Ä–∞—â–∞–µ–º –∑–∞–ø—Ä–æ—Å—ã

                    # –£–¥–∞–ª—è—é—Ç—Å—è –≤—Å–µ —Å—Ç—Ä–æ–∫–∏, –≤ —Å—Ç–æ–ª–±—Ü–µ 'VALUE' –∫–æ—Ç–æ—Ä—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è —Ä–∞–≤–Ω—ã 0 –ª–∏–±–æ Nan
                    mask = ((df['VALUE'] == 0) | df['VALUE'].isna())
                    df = df[~mask]

                    # –ü—Ä–æ–±–µ–≥–∞–µ–º—Å—è –ø–æ —Å—Ç—Ä–æ–∫–∞–º, —Å–∫–ª–∞–¥—ã–≤–∞–µ–º VALUE*–≤–∞–ª—é—Ç–∞ —Ä–∞—Å—á–µ—Ç–∞
                    for index, row in df.iterrows():
                        # –∫—É—Ä—Å –≤–∞–ª—é—Ç—ã —Å—Ç—Ä–æ–∫–∏ –∫ —Ä—É–±–ª—é
                        date_cur = datetime.strptime(date, '%Y-%m-%d').date()

                        if row['CURRENCYID'] == 'SUR' or row['CURRENCYID'] == 'RUR' or row['CURRENCYID'] == 'RUB':
                            currency = 1
                        else:
                            # –∏—â–µ–º —Å—Ç—Ä–æ–∫—É —Å –∫—É—Ä—Å–æ–º
                            result = df_currency.loc[(df_currency['Date'] == date_cur) & (df_currency['Currency'] == row['CURRENCYID'])]
                            if not result.empty:
                                currency = result.iloc[0]['Rate']
                            else:
                                print(f"\n–ó–∞–ø–∏—Å—å –Ω–µ –Ω–∞–π–¥–µ–Ω–∞ {row['CURRENCYID']} –Ω–∞ {date_cur}")

                        # —É–º–Ω–æ–∂–∞–µ–º –æ–±—ä–µ–º –Ω–∞ –∫—É—Ä—Å
                        value_row = row['VALUE'] * currency
                        val_sum_day += value_row

                    num_trades_day += sum(df['NUMTRADES'])

                    # –£–≤–µ–ª–∏—á–∏–≤–∞–µ–º —Å–º–µ—â–µ–Ω–∏–µ –¥–ª—è —Å–ª–µ–¥—É—é—â–µ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
                    params['start'] += 100

                    # –ó–∞–¥–µ—Ä–∂–∫–∞ –¥–ª—è –ø—Ä–µ–¥–æ—Ç–≤—Ä–∞—â–µ–Ω–∏—è —Å–ª–∏—à–∫–æ–º —á–∞—Å—Ç—ã—Ö –∑–∞–ø—Ä–æ—Å–æ–≤
                    # time.sleep(2)
                except:
                    if params['start'] > 0:
                        print('–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω')
                    else: 
                        print(f'–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: {base_url}, {params}')
                    break
            else:
                print(f"–û—à–∏–±–∫–∞ –ø—Ä–∏ –¥–æ—Å—Ç—É–ø–µ –∫ API MOEX: {base_url}, {params}")
                break

        value_all_list.append(val_sum_day)
        num_trades_all_list.append(num_trades_day)

–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-24', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-24', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-24', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-24', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-25', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-25', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-25', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-25', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-31', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-31', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-31', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-08-31', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-01', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-01', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-01', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-01', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-07', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-07', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-07', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-07', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-08', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-08', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-08', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-08', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-14', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-14', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-14', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-14', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-15', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-15', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-15', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-15', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-21', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-21', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-21', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-21', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-22', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-22', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-22', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-22', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-28', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-28', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-28', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-28', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQCB/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-29', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOE/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-29', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOD/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-29', 'start': 0}
–ù–µ—Ç –Ω–∏–∫–∞–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ —Å—Å—ã–ª–∫–µ: https://iss.moex.com/iss/history/engines/stock/markets/bonds/boards/TQOY/securities.xml, {'history.columns': 'SECID,NUMTRADES,VALUE,CURRENCYID', 'iss.only': 'history', 'date': '2024-09-29', 'start': 0}
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω
–ü–∞—Ä—Å–∏–Ω–≥ –∑–∞–∫–æ–Ω—á–µ–Ω

### –ò—Ç–∞–∫, —Å—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–π –æ–±—ä–µ–º –∏ –∫–æ–ª-–≤–∞ —Å–¥–µ–ª–æ–∫ –ø–æ –≤—Å–µ–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞–º —Ä–∞–≤–Ω–æ:

In [36]:
# C—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–π –æ–±—ä–µ–º
value_all_avg = sum(value_all_list)/30
# –°—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–µ –∫–æ–ª-–≤–æ —Å–¥–µ–ª–æ–∫
num_trades_all_avg = sum(num_trades_all_list)/30
print(f'C—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–π –æ–±—ä–µ–º c {date_from} –ø–æ {date_till}: {value_all_avg}')
print(f'C—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–µ –∫–æ–ª-–≤–æ —Å–¥–µ–ª–æ–∫ c {date_from} –ø–æ {date_till}: {num_trades_all_avg}')

C—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–π –æ–±—ä–µ–º c 2024-08-20 –ø–æ 2024-09-30: 8259855787.707852
C—Ä–µ–¥–Ω–µ–¥–Ω–µ–≤–Ω–æ–µ –∫–æ–ª-–≤–æ —Å–¥–µ–ª–æ–∫ c 2024-08-20 –ø–æ 2024-09-30: 114427.76666666666

In [37]:
df_isin.head(3)

,ISIN,Duration,Currency,–†–µ–π—Ç–∏–Ω–≥,Amount Outstanding,Value_avg,Num_trades_avg,Listing
0,RU000A102CL3,6.676644,EUR,8,1250000000,2.882338e+06,0.333333,1.0
1,RU000A102CL3,6.676644,EUR,8,1250000000,2.882338e+06,0.333333,1.0
2,RU000A106V57,0.874183,AED,5,370000000,3.039607e+04,1.066667,2.0

## –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º –ª–∏–∫–≤–∏–¥–Ω–æ—Å—Ç—å

In [38]:
liquidity_list = []
# –ö–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç—ã –∏–∑ —Ñ–æ—Ä–º—É–ª—ã
a = 0.03
b = 0.07
for index, row in df_isin.iterrows():
    liquidity_row = ((row['Value_avg']/value_all_avg)**a) * ((row['Num_trades_avg']/num_trades_all_avg)**b)
    liquidity_list.append(liquidity_row)

In [39]:
df_final = pd.DataFrame()
df_final['ISIN'] = df_isin['ISIN']
df_final['Duration'] = df_isin['Duration'] 
df_final['Amount'] = df_isin['Amount Outstanding'] 
df_final['Rating'] = df_isin['–†–µ–π—Ç–∏–Ω–≥'] 
df_final['Listing'] = df_isin['Listing'] 
df_final['Liquidity'] = liquidity_list 
df_final['Currency'] = df_isin['Currency']

In [40]:
df_final.head()

           ISIN  Duration      Amount Rating  Listing  Liquidity Currency
0  RU000A102CL3  6.676644  1250000000      8      1.0   0.322691      EUR
1  RU000A102CL3  6.676644  1250000000      8      1.0   0.322691      EUR
2  RU000A106V57  0.874183   370000000      5      2.0   0.305380      AED
3  RU000A1080Z9  1.160000   160289000      3      3.0   0.457510      CNY
4  RU000A1082Q4  0.015631  1676729000      7      3.0   0.537717      USD

In [42]:
df_final.to_excel('sec_dop_011024.xlsx')

In [41]:
X = df_final[['Duration', 'Amount', 'Rating', 'Listing', 'Liquidity']].values
y_pred = clf.predict(X)
print(y_pred)

NameError: name 'clf' is not defined

In [114]:
# –ë—É–º–∞–≥–∞–º —Å –Ω–∏–∑–∫–æ–π –ª–∏–∫–≤–∏–¥–Ω–æ—Å—Ç—å—é –¥–∞–µ–º 3 —ç—à–µ–ª–æ–Ω
# –î–æ–±–∞–≤–ª—è–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ DataFrame
df_final_pred = df_final
df_final_pred['Echelon predicted'] = y_pred

# –ò—Ç–µ—Ä–∏—Ä—É–µ–º—Å—è –ø–æ —Å—Ç—Ä–æ–∫–∞–º DataFrame –∏ –∏–∑–º–µ–Ω—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è
for index, row in df_final_pred.iterrows():
    if (row['Liquidity'] == 0):
        df_final_pred.loc[index, 'Echelon predicted'] = 3
        
df_final_pred = df_final_pred.drop_duplicates().reset_index(drop=True)
# –°–æ—Ö—Ä–∞–Ω—è–µ–º DataFrame –≤ Excel
df_final_pred.to_excel('–≠—à–µ–ª–æ–Ω—ã_–ø—Ä–µ–¥–∏–∫—Ç.xlsx', index=False)

## –ú–æ–∂–Ω–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å –≥–æ—Ç–æ–≤—ã–π –¥–∞—Ç–∞—Å–µ—Ç

In [27]:
df_final = pd.read_excel('–≠—à–µ–ª–æ–Ω—ã_–ø—Ä–µ–¥–∏–∫—Ç.xlsx')

In [28]:
df_final

,ISIN,Duration,Amount,Rating,Listing,Liquidity,Currency,Echelon predicted
0,RU000A102CL3,7.146329,1250000000,7,1,0.326191,EUR,1
1,RU000A107D58,3.830634,141112000,5,3,0.465345,USD,2
2,RU000A106V57,1.065374,370000000,5,2,0.331061,AED,2
3,RU000A1080Z9,1.402525,160944000,3,3,0.506891,CNY,3
4,RU000A1082Q4,0.220009,1676729000,7,3,0.571340,USD,1
...,...,...,...,...,...,...,...,...
98,RU000A0JX1S1,0.366681,15000000000,7,3,0.421021,RUB,1
99,RU000A101137,0.300667,25000000000,7,3,0.472665,RUB,1
100,RU000A102DB2,0.339745,20000000000,6,1,0.418488,RUB,1
101,RU000A100VQ6,0.205482,25000000000,7,2,0.510202,RUB,1
102,RU000A102CR0,1.050833,21000000000,7,1,0.414922,RUB,1